// Block
.header {
  display: block;
  position: relative;
  margin: 0 0 2rem;

  // Elements
  &__top {
    width: 100%;
    padding: .7rem 0;
    background: $color-secondary;
  }

  &__logo {
    height: 1.333rem;
  }

  &__main {
    padding: 1.1rem 0;
    background: $color-header-main;
  }

  &__nav {
    background: $color-header-main;
    @include mq(xs,s) {
      background: darken($color-header-main, 5%);
    }
  }

  &__title {
    color: $color-white;
    font-size: 1.556rem;
    margin: 0;
  }

  &__desc {
    color: $color-white;
    margin: 0;
  }

  // Modifier - Hero variant
  &--hero {
    .header {
      &__title {
        font-size: 2rem;
      }    
    }
  }

  // Modifier - Thin variant
  &--thin {
    .header {
      &__top {
        padding: .5rem 0;
      }
      &__main {
        padding: .8rem 0;
      }    
      &__logo {
        height: 1.056rem;
      }
    }
  }

}
