<div class="container">
  <header class="header">
      <div class="logo header__logo">
          <img src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics" class="logo__img">
      </div>
      <div class="info header__info" role="contentinfo">
          <h3 class="info__title venus" id="survey-help">Survey Help</h3>
          <div class="info__tel">
              <a class="info__link" href="tel:03001234931" aria-describedby="survey-help">0300 1234 931</a>
          </div>
          <div>
              <dl class="info__list">
                  <dt class="info__dt first"><abbr title="Survey identification code">ID:</abbr></dt>
                  <dd class="info__dd">221</dd>
                  <dt class="info__dt">Period:</dt>
                  <dd class="info__dd">'N/A'</dd>
                  <dt class="info__dt"><abbr title="Reference number">Ref:</abbr></dt>
                  <dd class="info__dd last">'N/A'</dd>
              </dl>
          </div>
      </div>
  </header>
</div>
{{>@bar bar_title="eQ Title bar"}}
