<div class="container">
  <header class="header">
      <div class="logo header__logo">
          <img src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics" class="logo__img">
      </div>
  </header>
</div>
{{>@bar bar_title="eQ Title bar"}}
