<header class="header {{classes}}">
    <div class="header__top" role="banner">
        <div class="container">
            <div class="grid grid--gutterless">
                <div class="grid__col col-5@m">
                    <div class="logo">
                        <a href="#1"><img src="{{path '/assets/img/ons-logo-white.svg'}}" alt="Office for National Statistics logo" class="logo__img header__logo"></a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="header__main">
        <div class="container">
            <div class="grid grid--gutterless grid--align-mid u-cf">
                <div class="grid__col {{#if button}}col-6@s col-8@m{{/if}}">
                    <h1 class="header__title">{{title}}</h1>
                    {{#if description}}
                    <p class="header__desc">{{description}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>