<label class="label{{#if label_inline}} label--inline venus{{/if}}" for="{{label_for}}">{{label_text}}
  {{#if label_description}}
    <br/>
    <span class="label__description pluto">{{label_description}}</span>
  {{/if}}
</label>
