<fieldset class="field">
  <legend class="field__legend mars">What is your address?</legend>
  <div class="field__item field__item--full-width">
    <label class="label venus" for="address-line-1">Building and street <span class="u-vh">line 1 of 2</span></label>
    <input id="address-line-1" class="input input--text input--width-20" name="address-line-1" type="text" />
  </div>

  <div class="field__item field__item--full-width">
    <label class="u-vh" for="address-line-2">Building and street line 2 of 2</label>
    <input id="address-line-2" class="input input--text input--width-20" name="address-line-2" type="text" />
  </div>

  <div class="field__item">
    <label class="label venus" for="address-town">Town or City</label>
    <input id="address-town" class="input input--text" name="address-town" type="text" />
  </div>

  <div class="field__item">
    <label class="label venus" for="address-county">County</label>
    <input id="address-county" class="input input--text" name="address-county" type="text" />
  </div>

  <div class="field__item">
    <label class="label venus" for="address-postcode">Postcode</label>
    <input id="address-postcode" class="input input--text input--width-3" name="address-postcode" type="text" />
  </div>

  <div class="field__item">
    Or
    <button class="btn btn--secondary btn--small" type="button">Search for address</button>
  </div>
</fieldset>
