.tabs {
  margin-bottom: 1rem;

  .no-js & { // No js display the aria-label from the tab region as content
    &:before {
      content: attr(aria-label);
      font-weight: 700;
      font-size: 1.222222rem; // Neptune equivalent scale
      }
    }

  }
// Tabs - list
  .tabs__list {
    margin: 0;
    overflow: visible;
    border-bottom: 1px solid $color-borders;

    .no-js & {
      border-bottom: none;
      margin: 0 0 1rem 0;
      padding-left: 0;
    }
  }

  .tab__list-item {
    list-style: none;
    display: inline;
    margin: 0;
    box-sizing: border-box;

    .no-js & { // No-js display styling as table of contents
      list-style: none;
      display: list-item;
      margin-bottom: 0.3rem;
    }

  } // /tab__list-item

  .tab {
    .has-js & {
    position: relative;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem 1rem;
    background: $color-light-grey;
    border: 1px solid $color-light-grey; // matches border use on buttons i.e. same as background
    border-bottom: 1px solid $color-borders;
    border-radius: 3px 3px 0 0;
    overflow: visible;
    text-decoration: none;

    display: inline-block;
    top: 1px;
    height: 2.5rem;

    &:hover {
      background-color: darken($color-light-grey, 5%);
      border-color: darken($color-light-grey, 5%);
      border-bottom-color: $color-borders;
    }

    &:focus {
      outline: 3px solid $color-focus-outline;
      outline-offset: 3px;
    }

    &[aria-selected="true"] { // Tab when selected
      border-radius: 3px 3px 0 0;
      background-color: $color-white;
      border-color: $color-borders;
      font-weight: 700;

      &:after { // hides the lower border of the active tab.
        position: absolute;
        z-index: 3;
        bottom: -3px;
        right: 0;
        left: 0;
        height: .35rem;
        background: $color-white;
        box-shadow: none;
        content: '';
      }

    }
  }

} // /tab

// Tabs - Panels
  .tabs__panel {
    margin-bottom: 1rem;

    .has-js & {
    position: relative;
    z-index: 2;
    padding: 1rem 0;
  }

  &:focus {
    outline: 2px solid $color-focus-outline;
    outline-offset: 0;
  }

  .no-js & {
    &[hidden] {
      display: block !important; // Enforce display of tab panels when no-js
    }
  }

} // /tabs__panel
