/*
_pagination.scss
*/
.pagination {
  width: 100%;
}
.pagination__items {
  padding: 0;
}
.pagination__item {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  float: left;
  margin-right: 0.25rem;
}
.pagination__item_active {

}
.pagination__item_current {
  background-color: $color-secondary;
  color: $color-white;
  /* Should these be made a mixin? */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* End ? */
  &:hover {
    background-color: $color-secondary;
  }
  & .pagination__link {
    color: $color-white;
    text-decoration: none;
    &:hover {
      background-color: $color-secondary;
      cursor: default;
    }
  }

}
.pagination__item-next,
.pagination__item-previous {
  width: auto;
  & .pagination__link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.pagination__item-previous {
  margin-left: -0.5rem;
}

.pagination__item-gap {
  cursor: default;
}
.pagination__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  &:hover {
    background-color: $color-light-grey;
  }
  &:focus {
    outline-offset: -3px;
    &:hover{
      background-color: $color-links;
    }
  }
}
.pagination__position {
  line-height: 2rem;
}
/*END*/
