<div class="grid">
  <div class="grid__col col12 u-ml-m u-mt-l u-mb-xl">
  <h2>With range indicator</h2>
<!-- Page 1 of series -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination (Page 1 of 35)">
  <div class="mars pagination__position">Page 1 of 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (1 of 35)" aria-current="true">1</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 2">2</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 5">5</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the last page">35</a></li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 2)" rel="next">Next</a></li>
  </ul>
</nav>

<br />
<!-- Page 2 of series -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination (Page 2 of 35)">
  <div class="mars pagination__position u-db">Page 2 of 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 1)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 1">1</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (2 of 35)" aria-current="true">2</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 5">5</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the last page (Page 35)">35</a></li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 3)" rel="next">Next</a></li>
  </ul>
</nav>

<br />
<!-- Page 5 of series -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination (Page 5 of 35)">
  <div class="mars pagination__position">Page 5 of 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 4)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 1">1</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (5 of 35)" aria-current="true">5</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 6">6</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 7">7</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the last page (Page 35)">35</a></li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 6)" rel="next">Next</a></li>
  </ul>
</nav>
<br />
<!-- Page 35 of series (LAST IN SERIES) -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination (Page 35 of 35)">
  <div class="mars pagination__position">Page 35 of 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 34)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 1">1</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">31</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">32</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">33</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 34">34</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (5 of 35)" aria-current="true">35</a></li>
  </ul>
</nav>
<br />
<br />
<h2>Without range indicator</h2>
<p>Add `.u-hidden` on `.pagination__position` as this is displayed only on mobile</p>
<!-- Page 1 -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination">
  <div class="mars pagination__position u-hidden" aria-label="Current page (Page 1)">Page 1</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page. (Page 1)" aria-current="true">1</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 2">2</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 5">5</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page. (Page 2)" rel="next">Next</a></li>
  </ul>
</nav>

<br />
<!-- Page 2 -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination">
  <div class="mars pagination__position u-hidden" aria-label="Current page (Page 2)">Page 2</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 1)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 1">1</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (2 of 35)" aria-current="true">2</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 5">5</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 3)" rel="next">Next</a></li>
  </ul>
</nav>

<br />
<!-- Page 5 -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination">
  <div class="mars pagination__position u-hidden" aria-label="Current page (Page 5)">Page 5</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 4)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the first page">1</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 4">4</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (Page 5)" aria-current="true">5</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 6">6</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 7">7</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 6)" rel="next">Next</a></li>
  </ul>
</nav>
<br />
<!-- Page 16 -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination">
  <div class="mars pagination__position u-hidden" aria-label="Current page (Page 16)">Page 16</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 15)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the first page">1</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 14">14</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 15">15</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (Page 16)" aria-current="true">16</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Go to page 17">17</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 18">18</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Go to the next page (Page 17)" rel="next">Next</a></li>
  </ul>
</nav>
<br />
<!-- Page 35 (LAST IN SERIES) -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Pagination">
  <div class="mars pagination__position u-hidden" aria-label="Current page (Page 35)">Page 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to the previous page (Page 34)">Previous</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to the first page">1</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">31</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">32</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Go to page 33">33</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Go to page 34">34</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Current page (Page 35)" aria-current="true">35</a></li>
  </ul>
</nav>
<br />
<br />

<h2>Cymraeg</h2>
<!-- CY: Page 2 of series -->
<span lang="cy">
<!-- Lang would be set at 'page' level -->
<nav class="pagination u-mb-l" role="navigation" aria-label="Tudaleniad (Tudalen 2 o 35)">
  <div class="mars pagination__position u-db">Tudalen 2 o 35</div>
  <ul class="pagination__items">
    <li class="pagination__item pagination__item--previous"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Ewch i’r dudalen flaenorol (Tudalen 1)">Blaenorol</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="prev" aria-label="Ewch i dudalen 1">1</a></li>
    <li class="pagination__item pagination__item--active pagination__item--current"><a href="javascript:;" class="pagination__link" aria-label="Y dudalen hon (2 o 35)" aria-current="true">2</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" rel="next" aria-label="Ewch i dudalen 3">3</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Ewch i dudalen 4">4</a></li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Ewch i dudalen 5">5</a></li>
    <li class="pagination__item pagination__item--gap">&hellip;</li>
    <li class="pagination__item"><a href="javascript:;" class="pagination__link" aria-label="Ewch i’r dudalen olaf (Tudalen 35)">35</a></li>
    <li class="pagination__item pagination__item--next"><a href="javascript:;" class="pagination__link" aria-label="Ewch i’r dudalen nesaf (Tudalen 3)" rel="next">Nesaf</a></li>
  </ul>
</nav>
</span>

</div></div>
