<nav class="pagination">

<ul class="pagination">
  <!-- <li class="pagination__item pagination__item-previous"><a href="" class="pagination__link" rel="prev">Previous</a></li> -->
  <li class="pagination__item pagination__item_active pagination__item_current">1</li>
  <li class="pagination__item"><a href="" class="pagination__link" rel="next">2</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
  <li class="pagination__item pagination__item-gap">&hellip;</li>
  <li class="pagination__item"><a href="" class="pagination__link">35</a></li>
  <li class="pagination__item pagination__item-next"><a href="/assets/img/check-green.png" class="pagination__link" rel="next">Next</a></li>
</ul>
<div class="mars pagination__position">Page 1 of 35</div>
</nav>

<nav class="pagination">

<ul class="pagination">
  <li class="pagination__item pagination__item-previous"><a href="" class="pagination__link" rel="prev">Previous</a></li>
  <li class="pagination__item pagination__item_active pagination__item_current">1</li>
  <li class="pagination__item"><a href="" class="pagination__link" rel="next">2</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">3</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">4</a></li>
  <li class="pagination__item"><a href="" class="pagination__link">5</a></li>
  <li class="pagination__item pagination__item-gap">&hellip;</li>
  <li class="pagination__item"><a href="" class="pagination__link">35</a></li>
  <li class="pagination__item pagination__item-next"><a href="/assets/img/check-green.png" class="pagination__link" rel="next">Next</a></li>
</ul>
<div class="mars pagination__position">Page 1 of 35</div>
</nav>
