$input-radius: 3px;
$input-padding: 0.6rem;
$input-width: 19.5rem;
$input-width-2: 5.4rem;
$input-width-3: 7.2rem;
$input-width-4: 9rem;
$input-width-5: 10.8rem;
$input-width-10: 23rem;
$input-width-20: 41rem;
$input-width-30: 59rem;
