.summary {
  display: block;
}

.summary__block {
  margin-bottom: 1rem;
  border-bottom: 1px solid $color-dark-grey;
}

.summary__item {
  border-top: 1px solid $color-dark-grey;
  position: relative;
}

.summary__question {
  padding: 1rem 0 0;
  @include mq(m) {
    padding: 1rem 0.5rem 1rem 0;
  }
}

.summary__answer {
  padding: 1rem 0.5rem 1rem 0;
  @include mq(m) {
    padding: 1rem 0.5rem;
  }
  @include lt-ie10 {
    padding-left: 0;
  }
}

.summary__link {
  padding: 1rem 0 1rem 0.5rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  @include lt-ie8 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.summary__item--multiple {
  padding-bottom: 0.5rem;
  .summary__question {
    padding-bottom: 0.5rem;
  }
  .summary__label {
    padding-top: 0.5rem;
    padding-bottom: 0;
    @include mq(m) {
      padding-bottom: 0.5rem;
    }
  }
  .summary__answer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .summary__link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
