<div class="summary">
  <h2 class="summary__title u-fs-m" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
           <div class="summary__question u-fs-r">What are the dates of the sales period you are reporting for?</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer u-fs-r--b">01 January 2015 to 02 February 2017</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link u-fs-r">
            <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
