<h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<div class="summary__items summary__items--multiple">
  <div class="summary__question summary__question--multiple mars" id="test-number-range-question">
     Please enter test values (none mandatory)
  </div>
  <div class="summary__answer summary__answer--multiple">
    <div class="summary__question summary__question--sub mars">
      Currency Test
    </div>
    <div class="summary__answer-text summary__answer-text--sub venus" id="test-currency-answer" data-qa="test-currency-answer">
      £1,000.00
    </div>
    <div class="summary__edit summary__edit--sub mars">
      <a href="/questionnaire/test/summary/d6L5BmGo/summary-group/0/test-number-block#test-currency" class="summary__edit-link" aria-describedby="test-currency test-currency-answer" data-qa="test-currency-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Change <span class="u-vh">your answer</span></a>
    </div>
  </div>
  <div class="summary__answer summary__answer--multiple">
    <div class="summary__question summary__question--sub mars">
      Kilometres Square
    </div>
    <div class="summary__answer-text summary__answer-text--sub venus" id="square-kilometres-answer" data-qa="square-kilometres-answer">
      11 km²
    </div>
    <div class="summary__edit summary__edit--sub mars">
      <a href="/questionnaire/test/summary/d6L5BmGo/summary-group/0/test-number-block#square-kilometres" class="summary__edit-link" aria-describedby="square-kilometres square-kilometres-answer" data-qa="square-kilometres-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Change <span class="u-vh">your answer</span></a>
    </div>
  </div>
  <div class="summary__answer summary__answer--multiple">
    <div class="summary__question summary__question--sub mars">
      Decimal test to 2 decimal places
    </div>
    <div class="summary__answer-text summary__answer-text--sub venus" id="test-decimal-answer" data-qa="test-decimal-answer">
      11.33
    </div>
    <div class="summary__edit summary__edit--sub mars">
      <a href="/questionnaire/test/summary/d6L5BmGo/summary-group/0/test-number-block#test-decimal" class="summary__edit-link" aria-describedby="test-decimal test-decimal-answer" data-qa="test-decimal-edit" data-ga-category="Summary" data-ga-action="Edit click" data-ga="click">Change <span class="u-vh">your answer</span></a>
    </div>
  </div>
</div>
