<div class="summary">
  <h2 class="summary__title neptune" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item summary__item--error">
      <p class="summary__error-text mars">Error message.</p>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
           <div class="summary__question mars">What are the dates of the sales period you are reporting for?</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">01 January 2015 to 02 February 2017</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">Change <span class="u-vh">your answer to "What are the dates of the sales period you are reporting for?". The current value is "01 January 2015 to 02 February 2017"</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="summary">
  <h2 class="summary__title neptune" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item summary__item--error">
      <p class="summary__error-text mars">Amend the figures so they total the sum of £300.</p>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__question mars">What was the value of the business's total sales of food?</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">£300.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">
              Change <span class="u-vh">your answer to "What was the value of the business's total sales of food?". The current value is "£300.00"</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--error">
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
           <div class="summary__question mars">What was the value of the business's total sales of alcohol, confectionery and tobacco?</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">£200.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">
              Change <span class="u-vh">your answer to "What was the value of the business's total sales of alcohol, confectionery and tobacco?". The current value is "£200.00"</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--error">
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__question mars">What was the value of the business's total sales of clothing and footwear?</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">£100.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">
              Change <span class="u-vh">your answer to "What was the value of the business's total sales of clothing and footwear?". The current value is "£100.00"</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="summary">
  <h2 class="summary__title neptune" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item summary__item--multiple summary__item--error">
      <p class="summary__error-text mars">Error message.</p>
      <div class="grid">
        <div class="grid__col col-12@m">
          <div class="summary__question mars">Please enter test values (none mandatory)</div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Currency Test</div>
        </div>
        <div class="grid__col col-8@xs col-5@m" >
          <div class="summary__answer venus">£1,000.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer to "Currency Test". The current value is "£1,000.00"</span></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Kilometres Square</div>
        </div>
        <div class="grid__col col-8@xs col-5@m" id="square-kilometres-answer">
          <div class="summary__answer venus">11 km²</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer to "Kilometres Square". The current value is "11 km²"</span></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Decimal test to 2 decimal places</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">11.33</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer to "Decimal test to 2 decimal places". The current value is "11.33"</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
