<div class="summary">
  <h2 class="summary__title u-fs-m">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__question u-fs-r">Total turnover</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer u-fs-r--b">
            £234,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
