<div class="summary">
  <h2 class="summary__title neptune" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item summary__item--multiple">
      <div class="grid">
        <div class="grid__col col-12@m">
          <div class="summary__question mars">Please enter test values (none mandatory)</div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Currency Test</div>
        </div>
        <div class="grid__col col-8@xs col-5@m" >
          <div class="summary__answer venus">£1,000.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer for: Currency Test. The current value is: £1,000.00</span></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Kilometres Square</div>
        </div>
        <div class="grid__col col-8@xs col-5@m" id="square-kilometres-answer">
          <div class="summary__answer venus">11 km²</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer for: Kilometres Square. The current value is: 11 km²</span></a>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__label mars">Decimal test to 2 decimal places</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">11.33</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer for: Decimal test to 2 decimal places. The current value is: 11.33</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
