<div class="summary">
  <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__items">
      <div class="summary__answer">
        <div class="summary__question" id="">
           What are the dates of the sales period you are reporting for?
        </div>
        <div class="summary__answer-text" id="">01 January 2015 to 02 February 2017</div>
        <div class="summary__edit">
          <a href="#edit" class="summary__edit-link">Change <span class="u-vh">your answer. What are the dates of the sales period you are reporting for?</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
