<div class="summary">
  <h2 class="summary__title neptune">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__question mars">Total value of acquisitions for transport assets and equipment</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer summary__answer--total venus">
            &pound;9000.00
          </div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer for: Total value of acquisitions for transport assets and equipment. The current value is: 9000.00</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__question mars">Total value of acquisitions for computers and peripheral devices (hardware)</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer summary__answer--total venus">
            &pound;234,000.00
          </div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#">Change <span class="u-vh">your answer for: Total value of acquisitions for computers and peripheral devices (hardware). The current value is: 234,000.00</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--total">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__total-label neptune">Grand total for value of acquisitions</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__total neptune">&pound;243,000.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
