<div class="summary">
      <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<!-- Summary -->
      <div class="summary__block">
        <div class="summary__items">
          <div class="summary__question" id="">
             Total turnover
          </div>
            <div class="summary__answer">
              <div class="summary__answer-text" id="">£234,000.00</div>
            </div>
        </div>
     </div>
<!-- /Summary -->
  </div>
