.input {
  position: relative;
  z-index: 3;
  padding: $input-padding;
  display: block;
  color: inherit;
  font-size: 1rem;
  border: 1px solid $color-borders;
  border-radius: $input-radius;
  width: 100%;
  transition: border-color 200ms ease-in;

  @include mq(s) {
    width: $input-width;
  }

  &[type=text] {
    appearance: none;
  }

  &:hover {
    border-color: $color-links-hover;
  }

  &--focused,
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px $color-focus-outline;
    @include fixed() {
      outline: 3px solid $color-focus-outline;
    }
  }

  &--width-2 {
    width: 100%;
    max-width: 5.4rem;
  }

  &--width-3 {
    width: 100%;
    max-width: 7.2rem;
  }

  &--width-4 {
    width: 100%;
    max-width: 9rem;
  }

  &--width-5 {
    width: 100%;
    max-width: 10.8rem;
  }

  &--width-10 {
    width: 100%;
    max-width: 23rem;
  }

  &--width-20 {
    width: 100%;
    max-width: 41rem;
  }

  &--width-30 {
    width: 100%;
    max-width: 59rem;
  }
}

.input__helper {
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.input--select {
  appearance: none;
  padding: $input-padding 2rem $input-padding 0.5rem;
  background: $color-white url("#{$static}/img/icons/icons--chevron-down.svg") no-repeat center right 10px;
  background-size: 1rem;
  line-height: 1.25rem;

  &::-ms-expand {
    display: none;
  }
  @include fixed() {
    padding-right: 0.5rem;
  }
}

.input--textarea {
  width: 100%;
  max-width: 100%; /* To avoid this escaping bounds of container on resize */
}

.input--radio,
.input--checkbox {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid #9b9b9b;
  padding: 0.5rem;
  font-size: 1rem;
  background: #eee;
  box-shadow: inset 0 0 0 3px white;
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  transition: background-color 200ms ease-in, color 200ms ease-in;
  &:focus, &:checked {
    border-color: $color-links-hover;
    outline: none;
  }
  @include mq(m) {
    top: 0.85rem;
  }
  @include fixed() {
    border: none;
    background: none;

    &:focus {
      outline: 2px solid $color-focus;
    }
  }
}

.input--radio {
  border-radius: 100px;
  box-shadow: inset 0 0 0 3px white;
  &:checked {
    background: $color-links-hover;
    box-shadow: inset 0 0 0 3px white;
  }
  &:focus {
    border-color: $color-links-hover;
    box-shadow: inset 0 0 0 3px white;
    outline: none;
    &:checked {
      border-color: $color-links-hover;
      background-color: $color-links-hover;
    }
  }
}

.input--checkbox {
  background: url("#{$static}/img/icons/icons--check.svg") no-repeat center center;
  background-size: 0;
  transition: background-size 50ms ease-out;

  &:checked {
    background-size: 15px;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}

.input--block {
  display: block;
  width: 100%;
}

.input--has-error {
  background-color: $color-light-red;
  transition: background-color 1s ease-in-out;
}

.input--limit-reached {
  border: 1px solid $color-red;

  &:focus {
    outline: none;
    border: 1px solid $color-red;
    box-shadow: 0 0 0 1px $color-red;
    @include fixed() {
      outline: 2px solid $color-red;
    }
  }
}

.input--with-unit {
  padding-right: 4rem;
}

.no-js {
  .input__limit {
    display: none;
  }
}

.input__limit--reached {
  color: $color-red;
}
