<div class="field">
{{> @label label_for="inputPassword" label_text="Password"}}
<!-- Input and label should be hidden if JS is not enabled -->
  <span id="showHidePassword" class="showHidePassword field__item">
    <input id="showPasswordToggle" class="input--checkbox js-focusable" type="checkbox" onchange="document.getElementById('inputPassword').type = this.checked ? 'text' : 'password'" />
    <!-- <label class="mars u-ml-xs label--inline" id="showHideToggleLabel" for="showHideToggle">Show password</label> -->
    {{> @label label_for="showPasswordToggle" label_text="Show password" label_inline="true"}}
  </span>
<!-- -->
  <input id="inputPassword" type="password" class="input input--text input-type__input u-mt-xs" />
</div>
