<div class="field field--checkbox field--multiplechoice">
  <div class="field__item js-focusable-box">
    <input class="input input--checkbox js-focusable" type="checkbox" id="{{label_for}}">
    {{>@label}}
  </div>
</div>
<br>
