<div class="field field--checkbox">
{{> @label label_for="inputPassword" label_text="Password"}}
  <span id="showHidePassword" class="showHidePassword field__item no-js">
    <input id="showPasswordToggle" class="input input--checkbox input--checkbox__passwordToggle js-focusable" type="checkbox" onchange="document.getElementById('inputPassword').type = this.checked ? 'text' : 'password'" />
    {{> @label label_for="showPasswordToggle" label_text="Show password" label_inline="true"}}
  </span>
  <input id="inputPassword" type="password" class="input input--text input-type__input input-type__password u-mt-xs" aria-describedby="field" />
</div>
