<div class="field">
  {{> @label label_for="inputPassword" label_text="Password" label_id="inputPasswordLabel"}}
  <div class="field--toggle">
    {{> @label label_for="showPasswordToggle" label_text="Show password" label_inline="true" label_class="field__label"}}
    <input id="showPasswordToggle" class="field__input input input--checkbox" type="checkbox" data-ga="click" data-ga-category="password" data-ga-action="Toggle password input" data-ga-label="Show password" />
  </div>
  <input id="inputPassword" type="password" class="input input--text" aria-describedby="inputPasswordLabel" />
</div>
