<div class="field field--radio field--multiplechoice">
  <div class="field__item js-focusable-box">
    <input class="input input--radio js-focusable" type="radio" id="radio">
    {{>@label}}
  </div>
</div>
