<div class="field field--checkbox field--multiplechoice">
  <fieldset>
    <legend class="field__legend mars">{{checkbox_legend}}</legend>
{{#each options}}<div class="field__item js-focusable-box">
      <input class="input input--checkbox js-focusable" name="{{label_for}}" value="{{option_value}}" id="{{label_for}}" type="checkbox">
      {{>@label}}
    </div>{{/each}}
    <div class="field__item js-focusable-box">
      <input value="Other" name="checkbox-answer-other" type="checkbox" data-qa="has-other-option" id="checkbox-answer-other" class="input input--checkbox js-focusable">
      {{>@label label_for="checkbox-answer-other" label_text="Other" label_id="label-checkbox-answer-other" label_description="Choose any other topping" }}
      <div class="field__other">
        {{>@label label_for="other-answer" label_inline="" label_text="Please specify other" label_id="label-checkbox-other-input" label_class="mercury" }}
        <input name="other-answer" type="text" data-qa="other-option" id="other-answer" class="input js-focusable">
      </div>
    </div>
  </fieldset>
</div>
