<div class="field field--radio field--multiplechoice">
  <fieldset>
    <legend class="field__legend u-fs-r ">{{legend}}</legend>
      {{#each options}}
      <div class="field__item">
        <input class="input input--radio" name="radio-answer" value="{{option_value}}" id="{{label_for}}" type="radio">
        {{>@label}}
      </div>
      {{/each}}
  </fieldset>
</div>
