<div class="input-type">
  <input class="input input--wn-3 input-type__input" data-qa="input-number" pattern="[0-9]*" id="answer" name="answer" type="number">
  <abbr title="{{label}}" class="input-type__type" id="answer-type">{{label_text}}</abbr>
</div>
