<div class="field field--radio field--multiplechoice">
  <fieldset>
    <legend class="field__legend mars ">{{legend}}</legend>
{{#each options}}<div class="field__item">
      <input class="input input--radio" name="radio-answer" value="{{option_value}}" id="{{label_for}}" type="radio">
      {{>@label}}
    </div>{{/each}}
    <div class="field__item">
      <input class="input input--radio" name="radio-answer" value="Other" id="radio-answer-other" type="radio" data-qa="has-other-option">
      {{>@label label_for="radio-answer-other" label_text="Other" label_id="label-radio-answer-other" label_description="Any other topping." }}
      <div class="field__other">
        {{>@label label_for="other-answer" label_inline="" label_text="Please specify other" label_id="label-checkbox-other-input" label_class="mercury" }}
        <input  class="input input__text" id="other-answer" name="other-answer" type="text" data-qa="other-option">
      </div>
    </div>
  </fieldset>
</div>
