<div class="field field--select">
  {{> @label}}
  <select class="input input--select" id="select" name="select">
    {{#each options}}
      <option{{#if option_value}} value="{{option_value}}"{{/if}}{{#if selected}} selected{{/if}}{{#if disabled}} disabled{{/if}}>{{option_text}}</option>
    {{/each}}
  </select>
</div>
