<div class="field field--checkbox field--multiplechoice">
  <fieldset>
    <legend class="field__legend u-fs-r">Select all that apply</legend>
      {{#each options}}
      <div class="field__item">
        <input class="input input--checkbox" name="checkbox-answer" value="{{option_value}}" id="{{label_for}}" type="checkbox">
        {{>@label}}
      </div>
      {{/each}}
  </fieldset>
</div>
