<div class="beta-bar">
  <div class="container beta-bar__inner">
    <h3 class="beta-bar__badge">Beta</h3>
    <p class="beta-bar__desc u-fs-s">This is a new service – your <a href="#">feedback</a> will help us improve it.</p>
  </div>
</div>

