.mod-hidden {

}

.definition {
  display: none;
  border-top: 1px solid $color-borders;
  margin-top: 3em;

  .no-js & {
    display: block;
  }
}

.definition__list {
  margin: 0;
  padding: 1.5em 0 1em;
  position: relative;
}

.definition__title {
  display: inline-block;
}

.definition__backtotop {
  $size: 1.5rem;

  background: url("#{$static}/img/icons/icons--definition-arrow.svg") no-repeat center center;
  background-size: auto;
  text-align: center;
  width: $size;
  height: $size;
  display: inline-block;
  text-indent: -999999px;
  overflow: hidden;
  vertical-align: top;
  @include mq(1100px) {
    position: absolute;
    top: 1.5em;
    left: -2em;
  }
}

.definition__description {
  margin: 0;
}

.definition__anchor {
  border: 0;
  text-decoration: none;
  color: $color-links;
  font-weight: inherit;
  padding: 0;
  border-width: 0 0 1px;
  border-radius: 0;
  border-style: dashed;
  margin-right: 1em;

  &:hover {
    text-decoration: none;
    color: $color-links-hover;
    border-color: $color-links-hover;
  }

  &:focus {
    color: #fff;
    background-color: $color-links;
    outline: none;
  }

  &::after {
    content: "";
    top: 0;
    right: 0;
    background: transparent url("#{$static}/img/icons/icons--definition-anchor.svg") no-repeat 50%;
    background-size: auto;
    padding: 0.5em;
    display: inline;
    white-space: nowrap;
    line-height: 0;
    vertical-align: super;
    margin-left: 0;
    margin-right: -1em;
  }
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: 0;
  padding: 0;
  transform: translateX(0);
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 1;
  background: transparent;
}

dialog:not([open]) {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 0;
  transform: translateX(2rem);
  opacity: 0;
}

.dialog__wrapper {
  margin: 2em;
  position: relative;
}

.dialog__document {
  border: 1px solid #ccc;
  padding: 2.5em 0 0;
  width: 100%;
  background: #fff;
  position: relative;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,.2);
}

.dialog__title {

}

.dialog__message {
  padding: 1em;
  border-top: 1px solid #ccc;
  margin: 0;
  background-color: #fcfee1;
}

.dialog__button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: transparent;
  padding: 0.6em 2em;
  color: $color-links;
  border-radius: 0;
  &::after {
    content: "";
    mask: url(#{$static}/img/icons/icons--close.svg) no-repeat 50%;
    position: absolute;
    top: 0.35em;
    right: 0.1em;
    background-color: $color-links;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
  }
  &:focus {
    color: #fff;
    background-color: $color-links;
    outline: none;
    &::after {
      background-color: #fff;
    }
  }
}
