<div class="input-type input-type--percentage">
  <input class="input input--number input-type__input" data-qa="input-number" pattern="[0-9]*" id="answer" name="answer" value="">
  <abbr title="{{label}}" class="input-type__type" id="answer-type">{{label_text}}</abbr>
</div>
