<div class="field field--checkbox field--multiplechoice">
  <fieldset>
    <legend class="field__legend mars">Select all that apply</legend>
      {{#each options}}
      <div class="field__item js-focusable-box">
        <input class="input input--checkbox js-focusable" name="checkbox-answer" value="{{option_value}}" id="{{label_for}}" type="checkbox">
        {{>@label}}
      </div>
      {{/each}}
  </fieldset>
</div>