<div class="guidance js-details">
  <a class="guidance__link js-details-trigger" href="#guidance" id="guidance-trigger" aria-controls="guidance-body" aria-expanded="false" data-guidance-trigger><span class="u-vh">Click here to </span><span class="js-details-label mars">Show further guidance</span></a>
  <div class="guidance__main js-details-body" id="guidance-body" aria-hidden="true">
    <div class="guidance__content mars">
      {{>@text}}
    </div>
  </div>
</div>
