<h2 class="section__title saturn">Password reset request sent</h2>
<p class="mars">If [email address] is registered to an account, you’ll receive an email with instructions to reset your password.</p>
<div class="guidance js-details" data-guidance-label="Help with email" data-guidance="Help with email" data-hide-label="Help with email" data-show-label="Help with email">
<a class="guidance__link js-details-trigger js-details-label mars" id="guidance-help-with-email" data-guidance-trigger="true" aria-expanded="false" href="#guidance-help-with-email" aria-controls="guidance-help-with-email-body">Help with email</a>
<div class="guidance__main js-details-body" id="guidance-help-with-emails" aria-hidden="true">
  <div class="guidance__content mars">
    <div>
      <p>If you don’t receive this within 15 minutes, try the following:
        </p><ul>
            <li class="list__item">Check your spam folder</li>
            <li class="list__item">Check that you've entered your email address correctly</li>
            <li class="list__item">Ensure that you've registered an account using this email address</li>
        </ul>
      <p></p>
      <p>If you’re still having problems, call us on <a class="u-ws-n" href="tel:+44-300-1234-931">0300 1234 931</a> or send an email to <a href="mailto:surveys@ons.gov.uk?Subject=Not%20received%20create%20account%20email">surveys@ons.gov.uk</a>.</p>
      </div>
    </div>
  </div>
</div>
