<form id="form-activation-code" action="sign-in--create-account-error" class="form">
  <h1 class="saturn">Create an account</h1>
  <div class="field">
    {{> @label label_text="Enrolement code" label_for="enrolment_code" label_description="You’ll find this in the letter we sent you"}}
    <input class="input input--text input-type__input" required="" type="text" id="enrolment_code">
  </div>
    {{> @button label="Continue" btn-classes="u-mt-s"}}
</form>
