<form id="form-forgot-password" method="get" action="sign-in--check-email">
  <h2 class="section__title saturn">Forgot password</h2>
  <p>No problem. We’ll send you a link to reset your password.</p>
  <div class="field">
    {{> @label label_for="email" label_text="Email address" label_description="Please type the email address you registered with"}}
    <input class="input input--text" type="email" id="email" required="">
  </div>
  <br>
  {{> @button label="Send reset link" btn-classes="u-mb-s"}}
  <p class="mars"><a href="sign-in">Cancel</a></p>
</form>
