{{#if bg}}
<header class="header">
    <div class="header__main u-pl-m">
{{/if}}
    <button class="btn btn--mobile js-toggle-main" type="button" id="menu-btn" aria-expanded="false" aria-controls="main-nav" aria-label="Toggle main navigation" aria-haspopup="true">{{label}}</button>
{{#if bg}}
    </div>
</header>
{{/if}}  
