{{#unless no_bg}} <div class="bar u-pl-m u-pt-m u-pb-m">{{/unless}}
    <button class="btn btn--mobile js-nav-btn {{btn-classes}}" type="button" id="menu-btn" aria-expanded="false" aria-controls="main-nav" aria-label="Toggle main navigation" aria-haspopup="true"><span class="btn--mobile__label">{{label}}</span></button>
{{#unless no_bg}}</div>{{/unless}}  