{{#if bar}}

<div class="bar u-pl-m u-pt-s u-pb-s">
    {{/if}}
    <button class="btn btn--mobile js-nav-btn {{btn-classes}}" type="button" id="menu-btn" aria-expanded="false" aria-controls="main-nav" aria-label="Toggle main navigation" aria-haspopup="true"><span>{{label}}</span></button>
{{#if bar}}

</div>
{{/if}}