

<div class="collator-item">
    <h2 class="collator-title">Default</h2>
    
<!-- Start: @bar--default -->
<div class="bar" role="banner">
  <div class="bar__inner container">
    <h1 class="bar__title venus">Title content of bar goes here</h1>
  </div>
</div><!-- End: @bar--default -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Hero</h2>
    
<!-- Start: @bar--hero -->
<div class="bar bar--hero" role="banner">
  <div class="bar__inner container">
    <div class="badge badge--amber">beta</div>
      <h1 class="bar__title jupiter">Other input fields</h1>
      <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
  </div>
</div>
<br><!-- End: @bar--hero -->

  </div>
