

<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__items">
<li class="breadcrumb__item"><a href="#Home" class="breadcrumb__link pluto">Home</a></li><li class="breadcrumb__item"><a href="#Item one" class="breadcrumb__link pluto">Item one</a></li><li class="breadcrumb__item"><a href="#Another thing" class="breadcrumb__link pluto">Another thing</a></li><li class="breadcrumb__item"><a href="#The other thing" class="breadcrumb__link pluto">The other thing</a></li><li class="breadcrumb__item breadcrumb__item--current pluto" aria-current="page">Current page</li>
  </ol>
</nav>

