

<nav class="breadcrumb">
  <ul class="breadcrumb__items">
  <li class="breadcrumb__item">
    <a href="#Root" class="breadcrumb__link">Root</a>
    <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
  </li>
  <li class="breadcrumb__item">
    <a href="#Item one" class="breadcrumb__link">Item one</a>
    <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
  </li>
  <li class="breadcrumb__item">
    <a href="#Another thing" class="breadcrumb__link">Another thing</a>
    <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
  </li>
  <li class="breadcrumb__item breadcrumb__item--current">Current item</li>
</ul>
</nav>

