

<h2 class="neptune">Primary</h2>
<!-- Start: @button--primary -->
<button class="btn btn--primary">Submit</button>
<!-- End: @button--primary -->
<br/>
<h2 class="neptune">Primary (Large)</h2>
<!-- Start: @button--primary-lg -->
<button class="btn btn--primary btn--lg">Start survey</button>
<!-- End: @button--primary-lg -->
<br/>
<h2 class="neptune">Secondary - bordered</h2>
<!-- Start: @button--secondary -->
<button class="btn btn--secondary btn--border">Add a person</button>
<!-- End: @button--secondary -->
<br/>
<h2 class="neptune">Neutral / Disabled</h2>
<!-- Start: @button--neutral -->
<button class="btn btn--neutral">Neutral</button>
<!-- End: @button--neutral -->
<br/>
<h2 class="neptune">Link</h2>
<!-- Start: @button--link -->
<button class="btn btn--link">Cancel</button>
<!-- End: @button--link -->
<br/>
