

<h3>Primary</h3>
<!-- Start: @button--primary -->
<button class="btn">Submit</button>
<!-- End: @button--primary -->
<br/>
<h3>Secondary</h3>
<!-- Start: @button--secondary -->
<button class="btn btn--secondary">Save</button>
<!-- End: @button--secondary -->
<br/>
<h3>Neutral</h3>
<!-- Start: @button--neutral -->
<button class="btn btn--neutral">Complete later</button>
<!-- End: @button--neutral -->
<br/>
<h3>Border</h3>
<!-- Start: @button--border -->
<button class="btn btn--border">Add item</button>
<!-- End: @button--border -->
<br/>
