

<div class="collator-item">
    <h2 class="collator-title">Primary</h2>
    
<!-- Start: @button--primary -->
<button class="btn btn--primary">Submit</button><!-- End: @button--primary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Primary (Large)</h2>
    
<!-- Start: @button--primary-lg -->
<button class="btn btn--primary btn--lg">Start survey</button><!-- End: @button--primary-lg -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Secondary - bordered</h2>
    
<!-- Start: @button--secondary -->
<button class="btn btn--secondary btn--border">Add a person</button><!-- End: @button--secondary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Tertiary</h2>
    
<!-- Start: @button--tertiary -->
<button class="btn btn--tertiary">Print this page <span class="btn__icon btn__icon--print-link"></span></button><!-- End: @button--tertiary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Neutral / Disabled</h2>
    
<!-- Start: @button--neutral -->
<button class="btn btn--neutral">Neutral</button><!-- End: @button--neutral -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Link</h2>
    
<!-- Start: @button--link -->
<button class="btn btn--link">Cancel</button><!-- End: @button--link -->

  </div>
