

<h3>Pounds</h3>
<!-- Start: @currency--pounds -->
<div class="input-type input-type--currency">
  <abbr title="Pounds (GBP)"  class="input-type__type" id="answer-type">£</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--pounds -->
<br/>
<h3>Euros</h3>
<!-- Start: @currency--euros -->
<div class="input-type input-type--currency">
  <abbr title="Euros (EUR)"  class="input-type__type" id="answer-type">€</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--euros -->
<br/>
<h3>Dollars Us</h3>
<!-- Start: @currency--dollars-us -->
<div class="input-type input-type--currency">
  <abbr title="US Dollars (USD)"  class="input-type__type" id="answer-type">US$</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--dollars-us -->
<br/>
<h3>Yen Japanese</h3>
<!-- Start: @currency--yen-japanese -->
<div class="input-type input-type--currency">
  <abbr title="Japanese Yen (JPY)"  class="input-type__type" id="answer-type">JP¥</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--yen-japanese -->
<br/>
