

<div class="definition js-details"
  data-hide-label="Click to collapse."
  data-show-label="Click to expand.">

  <a href="#definition"
     class="definition__link mars js-details-trigger u-no-js-hide"
     aria-expanded="false"
     data-js-accordion-event-label="What is a photovoltaic system?"
     data-ga-label="definition-pattern-library"
     data-ga-action="Definition click"
     data-ga="click"
     data-ga-category="Help">What is a photovoltaic system? <span class="u-vh js-details-label">Click to expand.</span></a>

  <h3 class="venus u-no-js-show u-mb-no">What is a photovoltaic system?</h3>

  <div id="definition" class="definition__main js-details-body">
    <div class="definition__content mars">
      <p>A typical photovoltaic system employs solar panels, each comprising
a number of solar cells, which generate electrical power. PV installations
may be ground-mounted, rooftop mounted or wall mounted. The mount may be
fixed, or use a solar tracker to follow the sun across the sky.</p>
    </div>
    <button class="btn btn--secondary btn--small definition__content-close-trigger js-details-trigger u-no-js-hide">Hide this</button>
  </div>
</div>

