

<div class="eq-tile">
  <div class="eq-tile-colour color-slate" style="background-color:#5F7682">
    <span class="eq-tile-panel-text" style="color:#fff;">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Slate</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#5F7682</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>95,118,130</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-slate</td>
        </tr>
      </table>
  </div>
</div>

