

<div class="eq-tile">
  <div class="eq-tile-colour color-blue" style="background-color:#4263C2">
    <span class="eq-tile-panel-text"></span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Blue</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#4263C2</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>66,99,194</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-blue</td>
        </tr>
      </table>
  </div>
</div>

