

<div class="eq-tile">
  <div class="eq-tile-colour color-teal" style="background-color:#008080">
    <span class="eq-tile-panel-text" style="color:#fff;">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Teal</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#008080</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>0,128,128</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-teal</td>
        </tr>
      </table>
  </div>
</div>

