

<div class="eq-tile">
  <div class="eq-tile-colour color-error-bg" style="background-color:#FBECEC">
    <span class="eq-tile-panel-text">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Error (background)</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#FBECEC</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>251,236,236</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-error-bg</td>
        </tr>
      </table>
  </div>
</div>

