

<div class="eq-tile">
  <div class="eq-tile-colour color-amber" style="background-color:#FE781F">
    <span class="eq-tile-panel-text" style="color:#fff;">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Amber</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#FE781F</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>254,120,31</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-amber</td>
        </tr>
      </table>
  </div>
</div>

