

<div class="eq-tile">
  <div class="eq-tile-colour color-secondary-text" style="background-color:#666666">
    <span class="eq-tile-panel-text"></span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Secondary text</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#666666</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>102,102,102</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-secondary-text</td>
        </tr>
      </table>
  </div>
</div>

