

<div class="eq-tile">
  <div class="eq-tile-colour color-links-hover"><span class="eq-tile-panel-text"></span></div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Link (hover)</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#033E58</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>3,62,88</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-links-hover</td>
        </tr>
      </table>
  </div>
</div>

