

<div class="eq-tile">
  <div class="eq-tile-colour color-dark-grey, $color-border" style="background-color:#999999">
    <span class="eq-tile-panel-text"></span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Borders</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#999999</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>153,153,153</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-dark-grey, $color-border</td>
        </tr>
      </table>
  </div>
</div>

