

<div class="eq-tile">
  <div class="eq-tile-colour color-light-amber" style="background-color:#FDF6EC">
    <span class="eq-tile-panel-text">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Light amber</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#FDF6EC</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>253,246,236</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-light-amber</td>
        </tr>
      </table>
  </div>
</div>

