

<div class="eq-tile">
  <div class="eq-tile-colour color-success-bg"><span class="eq-tile-panel-text">A</span></div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Success (background)</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#DBFDEA</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>219,253,234</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-success-bg</td>
        </tr>
      </table>
  </div>
</div>

