

<div class="eq-tile">
  <div class="eq-tile-colour color-light-grey" style="background-color:#e4e8eb">
    <span class="eq-tile-panel-text"></span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Backgrounds</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#e4e8eb</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>228,232,235</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-light-grey</td>
        </tr>
      </table>
  </div>
</div>

