

  <div class="field field--checkbox field--multiplechoice">
    <fieldset>
          <legend class="field__legend mars">Select your favourite pizza topping</legend>
        <div class="field__item js-focusable-box">
          <input class="input input--radio js-focusable" name="checkbox-answer" value="Cheese" id="Cheese" type="radio" aria-describedby="select-all">
          <label class="label label--inline venus "
            for="Cheese"
            >
              Cheese
          </label>
        </div>
        <div class="field__item js-focusable-box">
          <input class="input input--radio js-focusable" name="checkbox-answer" value="Tomato" id="Tomato" type="radio" aria-describedby="select-all">
          <label class="label label--inline venus "
            for="Tomato"
            >
              Tomato
          </label>
        </div>
        <div class="field__item js-focusable-box">
          <input class="input input--radio js-focusable" name="checkbox-answer" value="Pepperoni" id="Pepperoni" type="radio" aria-describedby="select-all">
          <label class="label label--inline venus "
            for="Pepperoni"
            >
              Pepperoni
          </label>
        </div>
    </fieldset>
  </div>






