

<div class="collator-item">
    <h2 class="collator-title">Guidance</h2>
    
<!-- Start: @guidance--guidance -->
<div class="guidance js-details"
  data-hide-label="Hide further guidance"
  data-show-label="Show further guidance">

  <a href="#guidance-weekly-pay-gross-pay-answer-body"
    class="guidance__link js-details-trigger js-details-label mars"
    aria-controls="guidance-weekly-pay-gross-pay-answer-body"
    data-guidance-trigger="true"
    aria-expanded="false" id="guidance-weekly-pay-gross-pay-answer-trigger"
    data-ga-label="weekly-pay-gross-pay-answer"
    data-ga-action="Guidance click"
    data-ga="click"
    data-ga-category="Help">Show further guidance</a>

  <div class="guidance__main js-details-body" id="guidance-weekly-pay-gross-pay-answer-body" aria-hidden="true">
    <div class="guidance__content mars">
      <strong class="u-mb-s u-d-b">Example guidance:</strong>
      <ul class="mars">
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ul>
    </div>
  </div>
</div>
<!-- End: @guidance--guidance -->

  </div>
