

<div class="info " role="contentinfo">
  <h3 class="info__title venus" id="help">Help</h3>
  <div class="info__tel">
    <a class="info__link" href="tel:0300 1234 567" aria-describedby="help">0300 1234 567</a>
  </div>
  <div>
    <dl class="info__list">
      <dt class="info__dt first"><abbr title="Survey identification code">ID:</abbr></dt>
      <dd class="info__dd">1234A</dd>
      <dt class="info__dt">Period:</dt>
      <dd class="info__dd">May 2017</dd>
      <dt class="info__dt"><abbr title="Reference number">Ref:</abbr></dt>
      <dd class="info__dd last">12346789012B</dd>
    </dl>
  </div>
</div>

