

<div class="field__item js-focusable-box">
  <input class="input input--radio js-focusable" id="ca3ce3a3-ae44-4e30-8f85-5b6a7a2fb23c-1" value="Light Side" name="ca3ce3a3-ae44-4e30-8f85-5b6a7a2fb23c" type="radio">
  <label for="ca3ce3a3-ae44-4e30-8f85-5b6a7a2fb23c-1" class="label label--inline venus">Light Side<br>
    <span class="label__description label__inner pluto">The light side of the Force, also commonly known as the Ashla by ancient Force-sensitives on Tython, or simply the Force, was the side of the Force aligned with honesty, compassion, mercy, self-sacrifice, and other positive emotions.</span>
  </label>
</div>

