

<div class="field field--radio field--multiplechoice">
  <fieldset>
    <legend class="field__legend mars ">Select your favourite topping</legend>
      <div class="field__item js-focusable-box">
        <input class="input input--radio js-focusable" name="radio-answer" value="bacon" id="bacon" type="radio">
        <label class="label label--inline venus "
          for="bacon"
          >
            Bacon
        </label>
      </div>
      <div class="field__item js-focusable-box">
        <input class="input input--radio js-focusable" name="radio-answer" value="olives" id="olives" type="radio">
        <label class="label label--inline venus "
          for="olives"
          >
            Olives
        </label>
      </div>
  </fieldset>
</div>
