

<div class="field">
  <label class="label venus "
    for="inputPassword"
    id="inputPasswordLabel">
      Password
  </label>
  <div class="field--toggle">
    <label class="label label--inline venus field__label"
      for="showPasswordToggle"
      >
        Show password
    </label>
    <input id="showPasswordToggle" class="field__input input input--checkbox" type="checkbox" />
  </div>
  <input id="inputPassword" type="password" class="input input--text" aria-describedby="inputPasswordLabel" />
</div>

