

<div class="nav nav--sections nav--vertical js-nav page__nav" id="section-nav">
  <h2 class="nav__title venus">Nav Section</h2>
  <ul class="nav__list js-nav-list">
      <li class="nav__item pluto nav__item--completed">
        <a class="nav__link" href="#item1">Completed nav item</a>
      </li>
      <li class="nav__item pluto nav__item--current">
        <a class="nav__link" href="#item2">Second item in an unordered list</a>
      </li>
      <li class="nav__item pluto ">
        <a class="nav__link" href="#item3">Consectetur adipiscing elit curabitur a elit vehicula, finibus arcu ut</a>
      </li>
      <li class="nav__item pluto ">
        <a class="nav__link" href="#item4">Lorem ipsum dolor sit amet</a>
      </li>
  </ul>
</div>

