

<div class="collator-item">
    <h2 class="collator-title">Information (default)</h2>
    
<!-- Start: @panel--default -->
<div class="panel panel--info">
  <div class="panel__header">
    <div class="venus">Information</div>
  </div>
  <div class="panel__body">
    <div>Here's some important information.</div>
  </div>
</div>
<!-- End: @panel--default -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Success</h2>
    
<!-- Start: @panel--success -->
<div class="panel panel--success">
  <div class="panel__header">
    <div class="venus">Success</div>
  </div>
  <div class="panel__body">
    <div>You did something correctly.</div>
  </div>
</div>
<!-- End: @panel--success -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Warning</h2>
    
<!-- Start: @panel--warn -->
<div class="panel panel--warn">
  <div class="panel__header">
    <div class="venus">Warning</div>
  </div>
  <div class="panel__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>
<!-- End: @panel--warn -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Error</h2>
    
<!-- Start: @panel--error -->
<div class="panel panel--error">
  <div class="panel__header">
    <div class="venus">Error</div>
  </div>
  <div class="panel__body">
    <p class="mars">This is wrong, fix it before continuing.</p>
  </div>
</div>
<!-- End: @panel--error -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Inline information (default)</h2>
    
<!-- Start: @panel--simple-info -->
<div class="panel panel--simple panel--info">
  <div class="panel__body">
    <strong class="u-mb-s u-d-b">Simple info panel - separate</strong>
    <p class="mars">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
  <li class="list__item">VAT</li>
  <li class="list__item">Internet sales</li>
</ul>

  </div>
</div>
<!-- End: @panel--simple-info -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Inline success</h2>
    
<!-- Start: @panel--simple-success -->
<div class="panel panel--simple panel--success">
  <div class="panel__body">
    <h2 class="venus">Simple success panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple-success -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Inline warning</h2>
    
<!-- Start: @panel--simple-warn -->
<div class="panel panel--simple panel--warn">
  <div class="panel__body">
    <h2 class="venus">Simple warning panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple-warn -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Inline error information</h2>
    
<!-- Start: @panel--simple-error -->
<div class="panel panel--simple panel--error">
  <div class="panel__body">
    <h2 class="venus">Simple error panel</h2>
    <p class="mars">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
<!-- End: @panel--simple-error -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Spacious variant (all simple)</h2>
    
<!-- Start: @panel--spacious -->
<div class="panel panel--simple panel--info panel--spacious">
  <div class="panel__body">
    <h2 class="venus">Simple info panel - spacious</h2>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
<!-- End: @panel--spacious -->

  </div>
