

<!-- Start: @panels--neutral -->
<div class="alert alert--simple alert--neutral">
  <div class="alert__header">
    <ul class="list list--bare list--errors">
      <li class="list__item mars">Neutral</li>
    </ul>
  </div>
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- spacing for collation -->
<br/>

<!-- End: @panels--neutral -->

<!-- Start: @panels--success -->
<div class="alert alert--simple alert--success">
  <div class="alert__header">
    <ul class="list list--bare list--errors">
      <li class="list__item mars">Success</li>
    </ul>
  </div>
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- spacing for collation -->
<br/>

<!-- End: @panels--success -->

<!-- Start: @panels--warn -->
<div class="alert alert--simple alert--warn">
  <div class="alert__header">
    <ul class="list list--bare list--errors">
      <li class="list__item mars">Warning</li>
    </ul>
  </div>
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- spacing for collation -->
<br/>

<!-- End: @panels--warn -->

<!-- Start: @panels--error -->
<div class="alert alert--simple alert--error">
  <div class="alert__header">
    <ul class="list list--bare list--errors">
      <li class="list__item mars">Error</li>
    </ul>
  </div>
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- spacing for collation -->
<br/>

<!-- End: @panels--error -->

<!-- Start: @panels--simple -->
<div class="alert alert--simple alert--simple">
  <div class="alert__header">
    <ul class="list list--bare list--errors">
      <li class="list__item mars">Simple</li>
    </ul>
  </div>
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- spacing for collation -->
<br/>

<!-- End: @panels--simple -->

