

<h3>Default</h3>
<!-- Start: @panel--default -->
<div class="panel panel--info">
  <div class="panel__header">
    <div class="venus">Information</div>
  </div>
  <div class="panel__body">
    <div>Here's some important information.</div>
  </div>
</div>
<!-- End: @panel--default -->
<br/>
<h3>Error</h3>
<!-- Start: @panel--error -->
<div class="panel panel--error">
  <div class="panel__header">
    <div class="venus">Error</div>
  </div>
  <div class="panel__body">
    <div>This is wrong, fix it before continuing.</div>
  </div>
</div>
<!-- End: @panel--error -->
<br/>
<h3>Simple</h3>
<!-- Start: @panel--simple -->
<div class="panel panel--simple panel--info">
  <div class="panel__body">
    <h2 class="venus">Simple info panel</h2>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
<br>
<div class="panel panel--simple panel--success">
  <div class="panel__body">
    <h2 class="venus">Simple success panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<br>
<div class="panel panel--simple panel--warn">
  <div class="panel__body">
    <h2 class="venus">Simple warning panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<br>
<div class="panel panel--simple panel--error">
  <div class="panel__body">
    <h2 class="venus">Simple error panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple -->
<br/>
<h3>Success</h3>
<!-- Start: @panel--success -->
<div class="panel panel--success">
  <div class="panel__header">
    <div class="venus">Success</div>
  </div>
  <div class="panel__body">
    <div>You did something correctly.</div>
  </div>
</div>
<!-- End: @panel--success -->
<br/>
<h3>Warn</h3>
<!-- Start: @panel--warn -->
<div class="panel panel--warn">
  <div class="panel__header">
    <div class="venus">Warning</div>
  </div>
  <div class="panel__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>
<!-- End: @panel--warn -->
<br/>
