

<div class="field field--select">
  <label class="label venus "
    for="select-wide"
    >
      Select your favourite cartoon character
  </label>
  <select class="input input--select input--block" id="select-wide" name="select">
      <option selected disabled>Select an option</option>
      <option value="bart">Bart Simpson</option>
      <option value="homer">Homer Simpson</option>
      <option value="marge">Marge Simpson</option>
      <option value="lisa">Lisa Simpson</option>
      <option value="ned">Ned Flanders</option>
      <option value="bugs">Bugs Bunny</option>
      <option value="7 Dwarves">The 7 Dwarves: Grumpy, Happy, Sleepy, Bashful, Sneezy, Dopey &amp; Doc</option>
      <option value="charlie brown">Charlie Brown</option>
      <option value="snoopy">Snoopy</option>
  </select>
</div>

