

<div class="field field--select">
  <label class="label venus "
    for="select"
    >
      Select your favourite cartoon character
      <br/>
      <span class="label__description pluto">As the initial option is selected and disabled this is a mandatory field (once a selection has been made it is not possible to select no option.)</span>
  </label>
  <select class="input input--select" id="select" name="select">
      <option selected disabled>Select an option</option>
      <option value="bart">Bart Simpson</option>
      <option value="homer">Homer Simpson</option>
      <option value="marge">Marge Simpson</option>
      <option value="lisa">Lisa Simpson</option>
      <option value="ned">Ned Flanders</option>
      <option value="bugs">Bugs Bunny</option>
      <option value="7 Dwarves">The 7 Dwarves: Grumpy, Happy, Sleepy, Bashful, Sneezy, Dopey, Doc</option>
      <option value="charlie brown">Charlie Brown</option>
      <option value="snoopy">Snoopy</option>
  </select>
</div>

