

<div class="summary">
  <h2 class="summary__title neptune">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-5@m">
          <div class="summary__question mars">Total turnover</div>
        </div>
        <div class="grid__col col-8@xs col-5@m">
          <div class="summary__answer venus">
            £234,000.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

