

<div class="summary">
  <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
  <!-- Group -->
  <div class="summary__items">
    <div class="summary__question" id="">
      What was the value of the business's total sales of food?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£123.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of alcohol, confectionery and tobacco?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£987.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of clothing and footwear?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of household goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total sales of other goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total retail turnover?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       Of your total retail turnover, how much were from internet sales?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£4,567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
  </div>
  <!-- /Group -->
</div>

