

<div class="collator-item">
    <h2 class="collator-title">Single summary</h2>
    
<!-- Start: @summary--default -->
<div class="summary">
      <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<!-- Summary -->
      <div class="summary__block">
        <div class="summary__items">
          <div class="summary__question" id="">
             What are the dates of the sales period you are reporting for?
          </div>
            <div class="summary__answer">
              <div class="summary__answer-text" id="">01 January 2015 to 02 February 2017</div>
              <div class="summary__edit">
                <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
              </div>
            </div>
        </div>
     </div>
<!-- /Summary -->
  </div>
<!-- End: @summary--default -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Single summary without edit link</h2>
    
<!-- Start: @summary--no-edit -->
<div class="summary">
      <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<!-- Summary -->
      <div class="summary__block">
        <div class="summary__items">
          <div class="summary__question" id="">
             Total turnover
          </div>
            <div class="summary__answer">
              <div class="summary__answer-text" id="">£234,000.00</div>
            </div>
        </div>
     </div>
<!-- /Summary -->
  </div>
<!-- End: @summary--no-edit -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Grouped</h2>
    
<!-- Start: @summary--group -->
<div class="summary">
  <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
  <!-- Group -->
  <div class="summary__items">
    <div class="summary__question" id="">
      What was the value of the business's total sales of food?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£123.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of alcohol, confectionery and tobacco?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£987.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of clothing and footwear?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of household goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total sales of other goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total retail turnover?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       Of your total retail turnover, how much were from internet sales?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£4,567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
  </div>
  <!-- /Group -->
</div>
<!-- End: @summary--group -->

  </div>
