

<div class="answer__fields js-fields">
  <label class="label " for="textarea-answer" >Please provide some feedback
      <br/>
      <span class="label__description pluto">For example describe any difficulties you experienced in the use of this service</span>
    </label>
  <textarea class="input input--textarea js-charlimit-input" cols="60" rows="8" id="textarea-answer" name="textarea-answer" maxlength="40" aria-describedby="description-question guidance-answer-trigger textarea-answer-remaining" data-maxlength="40"></textarea>
  <div class="input__limit u-mt-xs mercury" data-qa="textarea-with-limit" id="textarea-answer-remaining" aria-live="polite">You have <span>40</span>.</div>
</div>

