

<h2 class="neptune">Headings</h2>
<p>By default, headings have all their font-sizes reset to `1rem`, with the typographic hierarchy enforced by the 'type scale', eg:</p>
<h1 class="jupiter">Heading 1 (Jupiter)</h1>
<h2 class="saturn">Heading 2 (Saturn)</h2>
<h3 class="neptune">Heading 3 (Neptune)</h3>
<h4 class="venus">Heading 4 (Venus)</h4>
<h5 class="mars">Heading 5 (Mars)</h5>

<h2 class="neptune">Paragraphs</h2>
<p>This is a paragraph of text with some <strong>bold text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p class="mars">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<h2 class="neptune">Unordered list</h2>
	<ul>
  <li class="list__item">VAT</li>
  <li class="list__item">Internet sales</li>
</ul>


<h2 class="neptune">Ordered list</h2>
	<ol>
  <li class="list__item">First step to complete</li>
  <li class="list__item">Second item to perform</li>
  <li class="list__item">Last item of the three in this list</li>
</ol>


<h2 class="neptune">Bare list</h2>
	<ul class="list list--bare">
  <li class="list__item">A bare list</li>
  <li class="list__item">a second list item</li>
</ul>


