

<h2 class="neptune">Centimetres</h2>
<!-- Start: @unit--centimetres -->
<div class="field">
  <label class="label" for="Centimetres" >Length in centimetres
      <br/>
      <span class="label__description pluto">For example enter 1250 for 12.5m</span>
    </label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Centimetres" class="input input--number input-type__input" name="Centimetres" value="" pattern="[0-9]*">
    <abbr title="Centimetres" class="input-type__type" id="Centimetres-type"> cm</abbr>
  </div>
</div>
<!-- End: @unit--centimetres -->
<br/>
<h2 class="neptune">Metres</h2>
<!-- Start: @unit--metres -->
<div class="field">
  <label class="label" for="Metres" >Length in metres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Metres" class="input input--number input-type__input" name="Metres" value="" pattern="[0-9]*">
    <abbr title="Metres" class="input-type__type" id="Metres-type"> m</abbr>
  </div>
</div>
<!-- End: @unit--metres -->
<br/>
<h2 class="neptune">Kilometres</h2>
<!-- Start: @unit--kilometres -->
<div class="field">
  <label class="label" for="Kilometres" >Distance in kilometres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Kilometres" class="input input--number input-type__input" name="Kilometres" value="" pattern="[0-9]*">
    <abbr title="Kilometres" class="input-type__type" id="Kilometres-type"> km</abbr>
  </div>
</div>
<!-- End: @unit--kilometres -->
<br/>
<h2 class="neptune">Miles</h2>
<!-- Start: @unit--miles -->
<div class="field">
  <label class="label" for="Miles" >Distance in miles</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Miles" class="input input--number input-type__input" name="Miles" value="" pattern="[0-9]*">
    <abbr title="Miles" class="input-type__type" id="Miles-type"> mi</abbr>
  </div>
</div>
<!-- End: @unit--miles -->
<br/>
<h2 class="neptune">Square Centimetres</h2>
<!-- Start: @unit--square-centimetres -->
<div class="field">
  <label class="label" for="Square-centimetres" >Area in square centimetres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Square-centimetres" class="input input--number input-type__input" name="Square-centimetres" value="" pattern="[0-9]*">
    <abbr title="Square-centimetres" class="input-type__type" id="Square-centimetres-type"> cm²</abbr>
  </div>
</div>
<!-- End: @unit--square-centimetres -->
<br/>
<h2 class="neptune">Square Metres</h2>
<!-- Start: @unit--square-metres -->
<div class="field">
  <label class="label" for="Square-metres" >Area in square metres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Square-metres" class="input input--number input-type__input" name="Square-metres" value="" pattern="[0-9]*">
    <abbr title="Square-metres" class="input-type__type" id="Square-metres-type"> m²</abbr>
  </div>
</div>
<!-- End: @unit--square-metres -->
<br/>
<h2 class="neptune">Square Kilometres</h2>
<!-- Start: @unit--square-kilometres -->
<div class="field">
  <label class="label" for="Square-kilometres" >Area in square kilometres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Square-kilometres" class="input input--number input-type__input" name="Square-kilometres" value="" pattern="[0-9]*">
    <abbr title="Square-kilometres" class="input-type__type" id="Square-kilometres-type"> km²</abbr>
  </div>
</div>
<!-- End: @unit--square-kilometres -->
<br/>
<h2 class="neptune">Square Miles</h2>
<!-- Start: @unit--square-miles -->
<div class="field">
  <label class="label" for="Square-miles" >Area in square miles</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Square-miles" class="input input--number input-type__input" name="Square-miles" value="" pattern="[0-9]*">
    <abbr title="Square-miles" class="input-type__type" id="Square-miles-type"> sq mi</abbr>
  </div>
</div>
<!-- End: @unit--square-miles -->
<br/>
<h2 class="neptune">Acres</h2>
<!-- Start: @unit--acres -->
<div class="field">
  <label class="label" for="Acres" >Arable land in acres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Acres" class="input input--number input-type__input" name="Acres" value="" pattern="[0-9]*">
    <abbr title="Acres" class="input-type__type" id="Acres-type"> ac</abbr>
  </div>
</div>
<!-- End: @unit--acres -->
<br/>
<h2 class="neptune">Hectares</h2>
<!-- Start: @unit--hectares -->
<div class="field">
  <label class="label" for="Hectares" >Area in hectares</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Hectares" class="input input--number input-type__input" name="Hectares" value="" pattern="[0-9]*">
    <abbr title="Hectares" class="input-type__type" id="Hectares-type"> ha</abbr>
  </div>
</div>
<!-- End: @unit--hectares -->
<br/>
<h2 class="neptune">Cubic Centimetres</h2>
<!-- Start: @unit--cubic-centimetres -->
<div class="field">
  <label class="label" for="Cubic-centimetres" >Volume in cubic centimetres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Cubic-centimetres" class="input input--number input-type__input" name="Cubic-centimetres" value="" pattern="[0-9]*">
    <abbr title="Cubic-centimetres" class="input-type__type" id="Cubic-centimetres-type"> cm³</abbr>
  </div>
</div>
<!-- End: @unit--cubic-centimetres -->
<br/>
<h2 class="neptune">Cubic Metres</h2>
<!-- Start: @unit--cubic-metres -->
<div class="field">
  <label class="label" for="Cubic-metres" >Volume in cubic metres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Cubic-metres" class="input input--number input-type__input" name="Cubic-metres" value="" pattern="[0-9]*">
    <abbr title="Cubic-metres" class="input-type__type" id="Cubic-metres-type"> m³</abbr>
  </div>
</div>
<!-- End: @unit--cubic-metres -->
<br/>
<h2 class="neptune">Litres</h2>
<!-- Start: @unit--litres -->
<div class="field">
  <label class="label" for="Litres" >Volume in litres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Litres" class="input input--number input-type__input" name="Litres" value="" pattern="[0-9]*">
    <abbr title="Litres" class="input-type__type" id="Litres-type"> l</abbr>
  </div>
</div>
<!-- End: @unit--litres -->
<br/>
<h2 class="neptune">Hectolitres</h2>
<!-- Start: @unit--hectolitres -->
<div class="field">
  <label class="label" for="Hectolitres" >Volume in hectolitres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Hectolitres" class="input input--number input-type__input" name="Hectolitres" value="" pattern="[0-9]*">
    <abbr title="Hectolitres" class="input-type__type" id="Hectolitres-type"> hl</abbr>
  </div>
</div>
<!-- End: @unit--hectolitres -->
<br/>
<h2 class="neptune">Megalitres</h2>
<!-- Start: @unit--megalitres -->
<div class="field">
  <label class="label" for="Megalitres" >Volume in megalitres</label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Megalitres" class="input input--number input-type__input" name="Megalitres" value="" pattern="[0-9]*">
    <abbr title="Megalitres" class="input-type__type" id="Megalitres-type"> Ml</abbr>
  </div>
</div>
<!-- End: @unit--megalitres -->
<br/>
