<fieldset class="fieldgroup fieldgroup--inline">
  <legend class="fieldgroup__title venus">Search</legend>
  <div class="fieldgroup__fields">
    <div class="field field--input">
      <label class="label mercury" for="business-name">Business name</label>
      <input class="input" id="business-name" name="business-name">
    </div>

    <div class="field field--input">
      <label class="label mercury" for="reference-number">Reference number</label>
      <input type="number" pattern="[0-9]*" class="input input-wn-8" id="reference-number" name="reference-number">
    </div>

    <div class="field field--input">
      <label class="label mercury" for="postcode">Postcode</label>
      <input class="input input--postcode" id="postcode" name="postcode">
    </div>

    <div class="field field--input">
      <button class="btn" type="submit">Search</button>
    </div>
  </div>
</fieldset>
