.collapsible {
  display: block;
}

.collapsible__title {
  background: none;
  margin: 0;
  padding: 1em 0;
  border: none;
  border-top: 1px solid $color-borders;
  display: block;
  appearance: none;
  width: 100%;
  text-align: left;
  line-height: 1.2;
  overflow: hidden;
  .has-js & {
    text-decoration: none;
    cursor: pointer;
    color: $color-links;
    transition: color 300ms ease-in-out;
    &:hover {
      text-decoration: none;
      color: $color-links-hover;
      & > span {
        color: $color-links-hover;
      }
    }
  }

  .no-js & {
    padding-left: 0;
    &::before,  &:hover::before, &::after,  &:hover::after {
      background: none;
    }
    &--link + .collapsible__body {
      display: none;
    }
  }

  &-text {
    float: left;
    margin-top: 0.3rem;
    max-width: 73%;
    line-height: 1.3rem;
  }

  &:focus {
    outline: 0;
  }

  &.is-expanded {
    &::before, &::after {
      transform: rotate(90deg);
    }
  }

  &-right {
    float: right;
    margin-right: 6px;
    .no-js & {
      display: none!important;
    }
  }

  .collapsible--simple & {
    border: none;
    display: inline-block;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    &:focus {
      outline-offset: 3px;
      outline: 3px solid $color-focus-outline;
      color: $color-links-hover;
    }
  }
}

.collapsible--contained {
  .collapsible__title {
    border: 1px solid $color-borders;
    margin-top: .5rem;
    padding-right: 1rem;
    padding-left: 2.5rem;
    &:hover {
      background-color: $color-block-hover;
      .btn {
        background-color: darken($color-light-grey, 10%);
        border-color: darken($color-light-grey, 10%);
      }
    }
    &.is-expanded {
      border-bottom: none;
    }
  }
  .icon--collapsible {
    &:after, &:before {
      left: .9rem;
    }
  }
  .collapsible__body {
    &.is-expanded {
      border: 1px solid $color-borders;
      border-top: none;
      padding-top: .5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.collapsible__controls {
  margin: 1rem 0;    
  .no-js & {
    display: none;
  }
}

.collapsible__body {
  opacity: 0;
  max-height: 0;
  transition: all 0;
  > * {
    display: none;
  }

  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }

  .no-js &,
  &.is-expanded {
    margin-bottom: 1rem;
    max-height: 1000em;
    height: auto;
    opacity: 1;
    transition: opacity 300ms ease-out, max-height 300ms ease-out;

    > * {
      display: block;
    }
  }
}
