.table {
  width: 100%;
  margin-bottom: 1rem;

  .table__caption {
    text-align: left;
    font-weight: bold;
  }

  .table__header, .table__cell {
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 2px solid $color-very-dark-grey;
    @include nth-element(1, 0);
    text-align: left;
    vertical-align: top;
    &--numeric {
      text-align: right;
    }
  }

  .table__cell, .table__header--row {
    border-bottom: 1px solid $color-grey;
  }

  &--dense {
    .table__head, .table__body, .table__foot {
      font-size: 81.25%;
    }
  }

  &--responsive {
    @include mq(xs,s) {
      .table__header {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .table__body .table__row {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid $color-very-dark-grey;
      }

      .table__cell {
        text-align: right;
        display: block;
        padding-left: 0;
        &:last-child {
          border:none;
        }
        &::before {
          content: attr(data-th);
          float: left;
          font-weight: bold;  
          padding-right: 1rem;
        }
      }
    }
  }
}

.table-scrollable {
  position: relative;
  ::-webkit-scrollbar {
    height: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $color-dark-grey; 
  }

  &--on {
    .table__header, .table__cell {
      white-space: nowrap;
    }
  }
  &__content {
    width: 100%;
    overflow: visible;
    overflow-x: scroll;


    .table__header, .table__cell {
      @include mq(xs,m) {
        white-space: nowrap;
      }
    }
    .right-shadow, .left-shadow {
      height: 100%;
      position: absolute;
      top: 0;
      width: 5px;
      z-index: 200;
      &.with-transition {
        transition: box-shadow 0.4s ease-out;
      }
    }
    .right-shadow {
      right: 0;
      &.visible {
        box-shadow: inset -1px 0 0 0 #bfc1c3, inset -5px 0 0 0 rgba(191,193,195,0.4);
      }
    } 
    .left-shadow {
      left: 0;
      &.visible {
        box-shadow: inset 1px 0 0 0 #bfc1c3, inset -5px 0 0 0 rgba(191,193,195,0.4);
      }
    }
  }
}

.table--sortable {
  .table__sort-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 1.1rem 0 0;
    position: relative;
    line-height: 1rem;
    overflow: visible;
    color: $color-links;
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: $color-links-hover;
    }
    
    &:focus {
      outline-offset: 3px;
      outline: 3px solid $color-focus-outline;
      color: $color-links-hover;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 21px;
      background-size: 100%;
      background-image: url("#{$static}/img/icons/icons--sort-sprite.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }

  }

  [aria-sort="ascending"] .table__sort-button::before {
    background-position: 0 -43px;
  }

  [aria-sort="descending"] .table__sort-button::before {
    background-position: 0 -22px;
  }
}