.table {
  width: 100%;
  margin-bottom: 1rem;

  &--dense {
    font-size: 81.25%;
  }

  .table__caption {
    text-align: left;
    font-weight: bold;
  }

  .table__header, .table__cell {
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 2px solid $color-very-dark-grey;
    @include nth-element(1, 0);
    text-align: left;
    vertical-align: top;
    &--numeric {
      text-align: right;
    }
  }

  .table__cell, .table__header--row {
    border-bottom: 1px solid $color-grey;
  }

  &--responsive {
    @include mq(xs,s) {
      .table__header {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .table__body .table__row {
        display: block;
        margin-bottom: 1rem;
        border-bottom: 2px solid $color-very-dark-grey;
      }

      .table__cell {
        text-align: right;
        display: block;
        padding-left: 0;
        &:last-child {
          border:none;
        }
        &::before {
          content: attr(data-th);
          float: left;
          font-weight: bold;  
          padding-right: 1rem;
        }
      }
    }
  }
}

.table-scrollable {
  width: 100%;
  overflow: visible;
  overflow-x: scroll;
  &--on {
    .table__header, .table__cell {
      white-space: nowrap;
    }
  }
  .table__header, .table__cell {
    @include mq(xs,m) {
      white-space: nowrap;
    }
  }
}

.table--sortable {
  .table__sort-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 1.1rem 0 0;
    position: relative;
    line-height: 1rem;
    overflow: visible;
    font-weight: bold;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 12px;
      height: 21px;
      background-size: 100%;
      background-image: url("#{$static}/img/icons/icons--sort-sprite.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    
    &:focus {
      outline-offset: 3px;
      outline: 3px solid $color-focus-outline;
    }
  }

  [aria-sort="ascending"] .table__sort-button::before {
    background-position: 0 -43px;
  }

  [aria-sort="descending"] .table__sort-button::before {
    background-position: 0 -22px;
  }
}