<table class="table{{table-class}}">{{#if caption}}{{!Only display caption if supplied in context}}
  <caption class="table--caption">{{caption}}</caption>{{/if}}{{!End caption if}}
  <thead class="table--head">
    <th scope="col" class="table--header--cell">Column A</th>
    <th scope="col" class="table--header--cell">Column B</th>
    {{#if datadense}}{{!Add the following columns for the data dense view}}
    <th scope="col" class="table--header--cell">Column C</th>
    <th scope="col" class="table--header--cell">Column D</th>
    <th scope="col" class="table--header--cell">Column E</th>
    {{/if}}
  </thead>
  <tbody>
    <tr class="table--row">
      <td class="table--cell">Cell A1</td>
      <td class="table--cell">Cell B1</td>
      {{#if datadense}}{{!Add the following columns for the data dense view}}
      <td class="table--cell">Cell C1</td>
      <td class="table--cell">Cell D1</td>
      <td class="table--cell">Cell E1</td>
      {{/if}}
    </tr>
    <tr class="table--row">
      <td class="table--cell">Cell A2</td>
      <td class="table--cell">Cell B2</td>
      {{#if datadense}}{{!Add the following columns for the data dense view}}
      <td class="table--cell">Cell C2</td>
      <td class="table--cell">Cell D2</td>
      <td class="table--cell">Cell E2</td>
      {{/if}}
    </tr>
  </tbody>{{#if tfoot}}{{! Only display if tfoot is set to true}}
  <tfoot class="table--foot">
    <tr class="table--row">
      <td class="table--cell u-fs-s">Summary of column - sub-total of column contents?</td>
      <td class="table--cell u-fs-s">Column summary</td>
      {{#if datadense}}{{!Add the following columns for the data dense view}}
      <td class="table--cell u-fs-s">Lorem ipsum contentit</td>
      <td class="table--cell u-fs-s">Lorem ipsum contentit</td>
      <td class="table--cell u-fs-s">Lorem ipsum contentit</td>
      {{/if}}
    </tr>
  </tfoot>{{/if}}{{! End tfoot if}}
</table>
