<table class="table table--sortable" data-aria-sort="Sort by" data-aria-asc="ascending" data-aria-desc="descending">{{#if caption}}{{!Only display caption if supplied in context}}
    <caption class="table__caption">{{caption}}</caption>{{/if}}{{!End caption if}}
    <thead class="table__head">
        <tr class="table__row">
            <th scope="col" class="table__header" aria-sort="ascending"
            >ID</th>
            <th scope="col" class="table__header" aria-sort="none">Title</th>
            <th scope="col" class="table__header" aria-sort="none">Abbreviation</th>
            <th scope="col" class="table__header" aria-sort="none">Legal basis</th>
            <th scope="col" class="table__header" aria-sort="none">Frequency</th>
            <th scope="col" class="table__header" aria-sort="none">Date</th>
            <th scope="col" class="table__header" aria-sort="none">Status</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">112</td>
            <td class="table__cell"><a href="#">Annual Inward Foreign Direct Investment Survey</a></td>
            <td class="table__cell">AIFDI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell" data-sort-value="12">Annually</td>
            <td class="table__cell" data-sort-value="2018-01-20">20 Jan 2018</td>
            <td class="table__cell" data-sort-value="0"><span class="status status--success">Ready</span></td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">332</td>
            <td class="table__cell"><a href="#">Monthly Business Survey</a></td>
            <td class="table__cell">MBS</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell" data-sort-value="1">Monthly</td>
            <td class="table__cell" data-sort-value="2017-01-22">22 Jan 2017</td>
            <td class="table__cell" data-sort-value="1"><span class="status status--info">In progress</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">345</td>
            <td class="table__cell"><a href="#">Business Register and Employment Survey</a></td>
            <td class="table__cell">BRES</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell" data-sort-value="12">Annually</td>
            <td class="table__cell" data-sort-value="2016-01-23">23 Jan 2016</td>
            <td class="table__cell" data-sort-value="3"><span class="status status--dead">Dead</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">654</td>
            <td class="table__cell"><a href="#">Quartely Survey of Building Materials Sand and Gravel</a></td>
            <td class="table__cell">QBMS</td>
            <td class="table__cell">Statistics of Trade Act 1947 - BEIS</td>
            <td class="table__cell" data-sort-value="3">Quartely</td>
            <td class="table__cell" data-sort-value="2015-01-24">24 Jan 2015</td>
            <td class="table__cell" data-sort-value="2"><span class="status status--error">Issue</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">765</td>
            <td class="table__cell"><a href="#">Monthly Survey of Building Materials Concrete Building Blocks </a></td>
            <td class="table__cell">MSBB</td>
            <td class="table__cell">Voluntary</td>
            <td class="table__cell" data-sort-value="1">Monthly</td>
            <td class="table__cell" data-sort-value="2014-01-25">25 Jan 2014</td>
            <td class="table__cell" data-sort-value="0"><span class="status status--success">Ready</span></td>
        </tr>
    </tbody>
</table>
