<table class="table{{table-class}}">{{#if caption}}{{!Only display caption if supplied in context}}
  <caption class="table__caption">{{caption}}</caption>{{/if}}{{!End caption if}}
  <thead class="table__head">
    <tr class="table__row">
        <th scope="col" class="table__header">ID</th>
        <th scope="col" class="table__header">Title</th>
        <th scope="col" class="table__header">Abbreviation</th>
        <th scope="col" class="table__header">Legal basis</th>
        <th scope="col" class="table__header">Frequency</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__row">
      <td class="table__cell" data-th="ID">023</td>
      <td class="table__cell" data-th="Title"><a href="#">Monthly Business Survey - Retail Sales Index</a></td>
      <td class="table__cell" data-th="Abbreviation">RSI</td>
      <td class="table__cell" data-th="Legal basis">Statistics of Trade Act 1947</td>
      <td class="table__cell" data-th="Frequency">Monthly</td>
    </tr>
    <tr class="table__row">
      <td class="table__cell" data-th="ID">062</td>
      <td class="table__cell" data-th="Title"><a href="#">Annual Inward Foreign Direct Investment Survey</a></td>
      <td class="table__cell" data-th="Abbreviation">AIFDI</td>
      <td class="table__cell" data-th="Legal basis">Statistics of Trade Act 1947</td>
      <td class="table__cell" data-th="Frequency">Annually</td>
    </tr>
  </tbody>
</table>

<table class="u-mt-xl table {{table-class}}">{{#if caption}}{{!Only display caption if supplied in context}}
  <caption class="table__caption">{{caption}}</caption>{{/if}}{{!End caption if}}
  <thead class="table__head">
    <tr class="table__row">
        <th scope="col" class="table__header">Survey</th>
        <th scope="col" class="table__header">Period Covered</th>
        <th scope="col" class="table__header">Submit by</th>
        <th scope="col" class="table__header">Status</th>
        <th scope="col" class="table__header"></th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__row">
        <td class="table__cell" data-th="Survey">
            <p>Business Register and Employment Survey</p>
            <dl class="metadata metadata__list grid grid--gutterless" title="Item metadata" aria-label="Item metadata">
                <dt class="metadata__term grid__col col-3@m venus">RU Ref:</dt>
                <dd class="metadata__value grid__col col-9@m">49900000118</dd>
                <dt class="metadata__term grid__col col-3@m venus">Trading as:</dt>
                <dd class="metadata__value grid__col col-9@m">Bolts &amp; Ratchets</dd>
            </dl>
        </td>
        <td class="table__cell" data-th="Period Covered">1 Jan - 31 Dec 2016</td>
        <td class="table__cell" data-th="Submit by">30 Nov 2017</td>
        <td class="table__cell" data-th="Status">Not started</td>
        <td class="table__cell" data-th="Actions">
            <button class="btn btn--small u-wa--@xs u-nowrap">Access survey</button>
            <a class="pluto u-db u-mt-xs" href="#">Send a message</a>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-th="Survey">
            <p>Business Register and Employment Survey</p>
            <dl class="metadata metadata__list grid grid--gutterless" title="Item metadata" aria-label="Item metadata">
                <dt class="metadata__term grid__col col-3@m venus">RU Ref:</dt>
                <dd class="metadata__value grid__col col-9@m">49900000118</dd>
                <dt class="metadata__term grid__col col-3@m venus">Trading as:</dt>
                <dd class="metadata__value grid__col col-9@m">Bolts &amp; Ratchets</dd>
            </dl>
        </td>
        <td class="table__cell" data-th="Period Covered">1 Jan - 31 Dec 2016</td>
        <td class="table__cell" data-th="Submit by">30 Nov 2017</td>
        <td class="table__cell" data-th="Status">Not started</td>
        <td class="table__cell" data-th="Actions">
            <button class="btn btn--small u-wa--@xs u-nowrap">Access survey</button>
            <a class="pluto u-db u-mt-xs" href="#">Send a message</a>
        </td>
    </tr>
  </tbody>
</table>

