<table class="table{{table-class}}">{{#if caption}}{{!Only display caption if supplied in context}}
  <caption class="table__caption">{{caption}}</caption>{{/if}}{{!End caption if}}
  <thead class="table__head">
    <tr class="table__row">
        <th scope="col" class="table__header">Column A</th>
        <th scope="col" class="table__header">Column B</th>
        <th scope="col" class="table__header">Column C</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr class="table__row">
      <td class="table__cell" data-th="Column A">Cell A1</td>
      <td class="table__cell" data-th="Column B">Cell B1</td>
      <td class="table__cell" data-th="Column C">Cell C1</td>
    </tr>
    <tr class="table__row">
      <td class="table__cell" data-th="Column A">Cell A2</td>
      <td class="table__cell" data-th="Column B">Cell B2</td>
      <td class="table__cell" data-th="Column C">Cell C3</td>
    </tr>
  </tbody>
</table>
