<table class="table table--sortable">{{#if caption}}{{!Only display caption if supplied in context}}
    <caption class="table__caption">{{caption}}</caption>{{/if}}{{!End caption if}}
    <thead class="table__head">
        <tr class="table__row">
            <th scope="col" class="table__header" aria-sort="ascending"
            >ID</th>
            <th scope="col" class="table__header" aria-sort="none">Title</th>
            <th scope="col" class="table__header" aria-sort="none">Abbreviation</th>
            <th scope="col" class="table__header" aria-sort="none">Legal basis</th>
            <th scope="col" class="table__header" aria-sort="none">Frequency</th>
            <th scope="col" class="table__header" aria-sort="none">Date</th>
            <th scope="col" class="table__header" aria-sort="none">Status</th>
        </tr>
    </thead>
    <tbody class="table__body">
        <tr class="table__row">
            <td class="table__cell">023</td>
            <td class="table__cell"><a href="#">A Monthly Business Survey - Retail Sales Index</a></td>
            <td class="table__cell">RSI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell">Monthly</td>
            <td class="table__cell" data-sort-value="2018-01-20">20 Jan 2018</td>
            <td class="table__cell"><span class="status status--success">Ready</span></td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">024</td>
            <td class="table__cell"><a href="#">B Monthly Business Survey - Retail Sales Index</a></td>
            <td class="table__cell">RSI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell">Monthly</td>
            <td class="table__cell" data-sort-value="2017-01-22">22 Jan 2017</td>
            <td class="table__cell"><span class="status status--success">Ready</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">025</td>
            <td class="table__cell"><a href="#">C Monthly Business Survey - Retail Sales Index</a></td>
            <td class="table__cell">RSI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell">Monthly</td>
            <td class="table__cell" data-sort-value="2016-01-23">23 Jan 2016</td>
            <td class="table__cell"><span class="status status--success">Ready</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">026</td>
            <td class="table__cell"><a href="#">D Monthly Business Survey - Retail Sales Index</a></td>
            <td class="table__cell">RSI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell">Monthly</td>
            <td class="table__cell" data-sort-value="2015-01-24">24 Jan 2015</td>
            <td class="table__cell"><span class="status status--success">Ready</span></td>
        </tr>

        <tr class="table__row">
            <td class="table__cell">027</td>
            <td class="table__cell"><a href="#">E Monthly Business Survey - Retail Sales Index</a></td>
            <td class="table__cell">RSI</td>
            <td class="table__cell">Statistics of Trade Act 1947</td>
            <td class="table__cell">Monthly</td>
            <td class="table__cell" data-sort-value="2014-01-25">25 Jan 2014</td>
            <td class="table__cell"><span class="status status--success">Ready</span></td>
        </tr>
    </tbody>
</table>
