.definition {
  .definition__link {
    outline: none;
    font-weight: 600;
    text-decoration: none;

    &:focus {
      outline-offset: 3px;
      outline: 3px solid $color-focus-outline;
    }
  }

  .definition__main {
    @extend %js-details-body;
  }

  .definition__content {
    padding-top: 0.5rem;
  }

  /**
   * Modifiers
   */
  &:not(.is-expanded) {
    /**
     * Hide extra close button when not expanded to stop it being focusable
     */
    .definition__content-close-trigger,
    .definition__content {
      display: none;
    }
  }

  &.is-expanded {
    .definition__link {
      @extend %js-details-trigger--is-expanded;
    }
  }

  .no-js &,
  &.is-expanded {
    .definition__main {
      @extend %js-details-body--is-expanded;
    }
  }
}
