<div class="collapsible collapsible--simple js-collapsible js-collapsible-simple">
    <div class="js-collapsible-content">
      <h3 class="collapsible__title js-collapsible-title icon--collapsible-simple venus" data-ga="click" data-ga-category="definition" data-ga-action="Open panel" data-ga-label="{{definitionText}}">{{definitionText}}</h3>
      <div class="collapsible__body js-collapsible-body">
          {{{definitionContent}}}
          <button class="btn--secondary btn--small js-collapsible-close u-no-js-hide" data-ga="click" data-ga-category="definition" data-ga-action="Close panel" data-ga-label="{{definitionText}}">Hide this</button>
      </div>
  </div>
</div>
