<div class="definition js-details"
  data-hide-label="{{definitionText}}"
  data-show-label="{{definitionText}}">

  <a href="#definition"
     class="definition__link mars js-details-trigger js-details-label u-no-js-hide"
     aria-controls="definition"
     aria-expanded="false">{{definitionText}}</a>

  <div id="definition" class="definition__main js-details-body">
    <div class="definition__content mars">
      {{{definitionContent}}}
    </div>
    {{> @button btn-classes='btn--toggle definition__content-close-trigger js-details-trigger u-no-js-hide' label=definitiionHideText}}
  </div>
</div>
