.u-d-no {
  display: none;
}

.u-d-b {
  display: block;
}

@each $breakpointMin, $size in $grid-bp {
  @each $breakpointMax, $size in $grid-bp {
    @include mq($breakpointMin,$breakpointMax) {
      .u-d-no--\@#{$breakpointMin}\@#{$breakpointMax} {
        display: none !important;
      }
    }
  }
}
