.u-d-no {
  display: none;
}

.u-d-b {
  display: block;
}

// Hide between two breakpoints
@each $breakpointMin, $size in $grid-bp {
  @each $breakpointMax, $size in $grid-bp {
    @media only screen and (min-width: get-bp-width($breakpointMin)) and (max-width: get-bp-width($breakpointMax)) {
      .u-d-no--\@#{$breakpointMin}\@#{$breakpointMax} {
        display: none !important;
      }
    }
  }
}

// Hide from single breakpoint
@each $breakpointMin, $size in $grid-bp {
  @media only screen and (min-width: get-bp-width($breakpointMin)) {
    .u-d-no--\@#{$breakpointMin} {
      display: none !important;
    }
  }
}
