.u-dib {
  display: inline-block;
}

.u-db {
  display: block;
}

.u-no-js-hide {
  .no-js & {
    display: none;
  }
}

.u-no-js-show {
  .has-js & {
    display: none;
  }
}

// Set an element's width to be auto at specified breakpoint
@each $breakpointMin, $size in $grid-bp {
  @media only screen and (min-width: get-bp-width($breakpointMin)) {
    .u-wa--\@#{$breakpointMin} {
      width: auto;
    }
  }
}