.logo {
  display: inline-block;
  &__img {
    width: 272px;
    height: auto;
  }
  @include lt-ie9() {
    float: left;
    display: block;
    width: 272px;
    height: 24px;
    background: url("#{$static}/img/ons-logo-pos.png") no-repeat 0 0;
    img {
      display: none;
    }
  }
}
