.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.breadcrumb__items {
  margin: 0;
  padding: 0;
}
.breadcrumb__item {
  display: inline-block;
  &:after {
    content: " ";
    @include icon("chevron-breadcrumb");
    background-color: $color-white;
    background-position: bottom;
    width: 0.5rem;
    height: 0.7rem;
    margin: 0 0.3333rem;
    display: inline-flex;
  }
}
.breadcrumb__item--current {
  color: $color-very-dark-grey;
  &:after {
    display: none;
  }
}
.breadcrumb__link {
  text-decoration: none;
}
