<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb__items">
{{#each items}}
  <li class="breadcrumb__item">
    <a href="#{{item}}" class="breadcrumb__link">{{item}}</a>
  </li>
{{/each}}
  <li class="breadcrumb__item breadcrumb__item--current" aria-current="page">{{current}}</li>
</ol>
</nav>
