<nav class="breadcrumb">
  <ul class="breadcrumb__items">
{{#each items}}
  <li class="breadcrumb__item">
    <a href="#{{item}}" class="breadcrumb__link">{{item}}</a>
    <span class="breadcrumb__chevron">&nbsp;&gt;&nbsp;</span>
  </li>
{{/each}}
  <li class="breadcrumb__item breadcrumb__item--current">{{current}}</li>
</ul>
</nav>
