<h1 class="jupiter">Jupiter</h1>
<p class="pluto">Lato Black, 2rem/36pt</p>
<h2 class="saturn">Saturn</h2>
<p class="pluto">Lato Bold, 1.5rem/28pt</p>
<h3 class="neptune">Neptune</h3>
<p class="pluto">Lato Bold, 1.2rem/22pt</p>
<p class="venus">Venus (label)</p>
<p class="pluto">Lato Bold, 1rem/18pt</p>
<p class="mars">Mars (body)</p>
<p class="pluto">Lato Regular, 1rem/18pt</p>
<p class="mercury">Mercury (hint)</p>
<p class="pluto">Lato Bold, 0.7rem/14pt</p>
<p class="pluto">Pluto (hint)</p>
<p class="pluto">Lato Regular, 0.7rem/14pt</p>
