<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/eq.png">

    <link rel="stylesheet" href="{{ path '/assets/css/styles.css' }}">
    <style type="text/css">
    h3 {
      display: block;
      width: 100%;
      clear: both;
    }
    .tile {
      width: 75px;
      height: 75px;
      padding: 1rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      box-sizing: content-box;
      float: left;
      font-size: 0.8rem;
    }
    .ons-blue {
      background-color: #003d59;
      color: #fff;
    }
    .ons-green {
      background-color: #a8bd3a;
    }
    .error {
      background-color: #d0021b;
      color: #fff;
    }
    .error-panel {
      background-color: #fbecec;
    }
    .warning {
      background-color: #f99c21;
    }
    .text {
      background-color: #000;
      color: #fff;
    }
    .secondary-text {
      background-color: #666;
      color: #fff;
    }
    .hint-text {
      background-color: #999;
      color: #fff;
    }
    .tile.link {
      background-color: #4361aa;
      color: #fff;
    }
    </style>
    <title>{{ _target.title }} | {{ _config.project.title }}</title>
</head>
<body>
<div style="padding:1rem">
  {{{ yield }}}
</div>

</body>
</html>
