<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="{{ path '/assets/css/styles.css' }}">

    <title>{{ _target.title }} | {{ _config.project.title }}</title>
</head>
<body>
<div style="padding:1rem">
  {{{ yield }}}
</div>

</body>
</html>
