<div class="grid grid--center">
  {{#repeat 6}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}

  {{#repeat 5}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}
</div>

<div class="grid grid--center">
  {{#repeat 4}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}
</div>

<div class="grid grid--center">
  {{#repeat 3}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}
</div>

<div class="grid grid--center">
  {{#repeat 2}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}
</div>

<div class="grid grid--center">
  {{#repeat 1}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}
</div>
