<div class="grid">
  {{#repeat 12}}
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
  {{/repeat}}

  {{#repeat 6}}
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
  {{/repeat}}

  {{#repeat 4}}
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
  {{/repeat}}

  {{#repeat 3}}
    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>
  {{/repeat}}

  {{#repeat 2}}
    <div class="grid__col col-6@m">
      <div class="grid__helper">6 col</div>
    </div>
  {{/repeat}}
</div>
