<div class="grid grid--reverse">
  <div class="grid__col col-3@m">
    <div class="grid__helper">first col</div>
  </div>
  <div class="grid__col col-9@m">
    <div class="grid__helper">second col</div>
  </div>
</div>
