<p class="u-fs-r">{{{highlightcontent}}}</p>
<h1 class="u-fs-m">{{{highlightcontent-heading}}}</h1>
<h1 class="u-fs-m">{{{highlightcontent-heading2}}}</h1>
<h2 class="u-fs-m">{{{highlightcontent-total}}}</h2>
