<!-- Header -->
<div class="panel__header page-header">
    {{>@logo}}
    <!-- Page header info -->
    {{render '@info--pageheader' info_classes merge=true}}
    <!-- Uses info.config.json to define pageheader class -->
  </div>
{{>@bar--badge}}
<!-- /Header -->
