<div class="input-type input-type--prefix">
  <input class="input input--w-5 input-type__input" name="answer" id="answer" type="number" pattern="[0-9]*" data-qa="input-text">
  <abbr title="{{label}}" class="input-type__type" id="answer-type">{{currency}}</abbr>
</div>
