/* _message */
.message {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid $color-borders;

//   &--internal {
//
//   }
//   &--external {
//
//   }
// }
// .message__body {
//
// }
// .message__subject {
//
//   &--unread {
//
//   }
}
/* /_message */
