<div class="panel panel--error">
  <div class="panel__header">
    <div class="venus">Error</div>
  </div>
  <div class="panel__body">
    {{>@paragraph paragraph-class="mars" paragraph-content="This is wrong, fix it before continuing."}}
  </div>
</div>
