<div class="panel panel--warn">
  <div class="panel__header">
    <div class="venus">Warning</div>
  </div>
  <div class="panel__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>
