<div class="panel panel--simple panel--warn">
  <div class="panel__body">
    <h2 class="u-fs-r--b">Simple warning panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
