<div class="panel panel--simple panel--info">
  <div class="panel__body">
    <strong class="u-mb-s u-d-b">Simple info panel - separate</strong>
    {{>@paragraph paragraph-class="mars"}}
    {{render '@list--unordered'}}
  </div>
</div>
