<div class="panel panel--info">
  <div class="panel__header">
    <div class="u-fs-r--b">Information</div>
  </div>
  <div class="panel__body">
    <div>Here's some important information.</div>
  </div>
</div>
