$base: 18px;
$base-lg: 18px;

$type_matrix: (
  u-fs-xl:
  (
    small: 28px,
    large: 36px,
    weight: $font-weight-bold,
    line-height: 1.4
  ),
  u-fs-l:
  (
    small: 24px,
    large: 28px,
    weight: $font-weight-bold,
    line-height: 1.4
  ),
  u-fs-m:
  (
    small: 20px,
    large: 22px,
    weight: $font-weight-bold,
    line-height: 1.4
  ),
  u-fs-r--b:
  (
    small: $base,
    large: $base-lg,
    weight: $font-weight-bold,
    line-height: 1.4
  ),
  u-fs-r:
  (
    small: $base,
    large: $base-lg,
    weight: $font-weight-regular,
    line-height: 1.4
  ),
  u-fs-s--b:
  (
    small: 14px,
    large: 14px,
    weight: $font-weight-bold,
    line-height: 1.4
  ),
  u-fs-s:
  (
    small: 14px,
    large: 14px,
    weight: $font-weight-regular,
    line-height: 1.4
  )
);

@each $name, $props in $type_matrix {
  .#{$name} {
    font-size: rems(map-get($props, small), $base);
    font-weight: map-get($props, weight);
    line-height: map-get($props, line-height);
    @include mq(m) {
      font-size: rems(map-get($props, large), $base-lg);
    }
  }
}
