<aside class="progress-censusv2">
<nav>
  <h4 class="vensus"><span>Sections</span></h4>
  <ol>
    <li class="section-4 section-5 section-6 section-8 section-9-inter active is-open complete">
      <a class="mars" href="../section-4">Who lives here?</a>
    </li>
    <li class="section-16-inter section-9 section-10 section-11 section-11b section-14 section-15">
      <a class="mars" href="../section-9">Accommodation</a>
    </li>
    <li class="section-39-inter section-40-inter section-19 section-20 section-21 section-22 section-33 section-34 section-35 section-36 section-37 section-38 section-38b section-39">
      <a class="mars" href="../section-19"><span class="this-section">Person 1</span></a>
    </li>
    <li class="section-41 section-42-inter last-person">
      <a class="mars" href="../section-41"><span class="next-section">Person 2</span></a>
    </li>
      <span class="box--entity"><li class=""><div class="mars"><a href="">Person three</a></div>
    </li>
      <li class=""><div class="mars"><a href="">Person four</a></div></li></span>
  </ol>
</nav>
</aside>
