$width: $input-width;

.input-type {
  display: flex;
  position: relative;
  align-items: center;

  .input-type__input {
    border-radius: $input-radius;
    line-height: normal;
    position: relative;
    z-index: 3;
    width: 100%;
  }

  .input-type__type {
    display: inline-block;
    background-color: $color-lighter-grey;
    border-right: 1px solid $color-borders;
    border-radius: $input-radius 0 0 $input-radius;
    padding: $input-padding;
    width: auto;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    line-height: normal;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 4;
    text-decoration: none;
    @include ie8() {
      line-height: 1.1;
    }
  }
}

.input-type--percentage,
.input-type--unit {
  @include mq(s) {
    &:not(.input-type--group) {
      width: calc(#{$width} - 3rem);
    }
  }
  .input-type__input {
    padding-left: 0.5rem;
    padding-right: 4rem;
    @include fixed {
      margin-left: 0;
    }
  }
  .input-type__type {
    left: auto;
    right: 1px;
    border-right: none;
    border-left: 1px solid $color-borders;
    border-radius: 0 $input-radius $input-radius 0;
  }
}

.input-type--currency {
  @include mq(s) {
    &:not(.input-type--group) {
      width: calc(#{$width} - 3rem);
    }
  }
  .input-type__input {
    padding-left: 3.6rem;
  }
  .input-type__type {
    right: auto;
    left: 1px;
    width: 3rem;
  }
}
