.badge {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.8;
  text-transform: uppercase;
  color: $color-white;
  letter-spacing: 0.05rem;
}

.badge--black {
  background-color: $color-almost-black;
}