%js-details-trigger {
  &::before {
    $size: 1rem;

    transition: transform 300ms ease-in-out;
    margin-right: 0.5rem;
    speak: none;
    content: "";
    background: url("#{$static}/img/icons/icons--guidance.svg") no-repeat center center;
    background-size: auto;
    text-align: center;
    width: 0.7rem;
    height: $size;
    position: relative;
    left: 0.1rem;
    top: -0.05rem;
    vertical-align: middle;
    display: inline-block;
  }

  &:hover {
    outline: none;
    &::before {
      background: url("#{$static}/img/icons/icons--guidance-darkblue.svg") no-repeat center center;
    }
  }

  &:focus {
    &::before {
      background: url("#{$static}/img/icons/icons--guidance-darkblue.svg") no-repeat center center;
    }
  }
}

%js-details-trigger--is-expanded {
  &::before {
    transform: rotate(90deg);
  }
}

%js-details-body {
  width: 100%;
  opacity: 0;
  transition: all 0;
  max-height: 0;
  overflow: hidden;
  &::before,
  &::after {
    content: " ";
    display: table; 
  }
  &::after {
    clear: both;
  }
}

%js-details-body--is-expanded {
  max-height: 10000em;
  height: auto;
  opacity: 1;
  transition: opacity 300ms ease-out, max-height 300ms ease-out;
}
