.footer {
  padding: 2rem 0;
  padding-bottom : 4rem;
  margin-top: 2rem;
  background-color: $color-very-dark-grey;
  color: $color-light-grey;

  .footer__heading {
    margin-top: 2rem;
  }

  .footer__license {
    margin-top: 2rem;
  }

  .footer__ogl-img {
    height: 1.1rem;
    opacity: .75;
    margin-bottom: .2rem;
  }

  .footer__link {
    color: $color-light-grey;

    &:focus {
      color: #fff;
      outline: 2px dashed #fff;
      outline-offset: 2px;
      background: transparent;
    }

    &:hover {
      color: $color-light-grey;
    }
  }
}
.footer--eq {
  .list--bare {
    .footer__link {
      float: left;
      margin-right: 1.5rem;
    }
  }
  .footer__license {
      margin-top: 1.5rem;
      border-top: 1px solid $color-borders;
      padding-top: 1.5rem;
  }
}
