<footer class="page__footer">
  <footer class="footer page__footer">
    <div class="footer-nav container" role="contentinfo">
        <div class="grid container">
            <div class="grid__col col-4@m">
                <div class="footer-nav__heading">
                    <h4 class="venus">Legal information</h4>
                </div>
                <ul class="list list--bare footer__list">
                    <li class="footer-nav__item">
                        <a href="/cookies-privacy" class="footer__link" target="_blank">Cookies and privacy</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-4@m">
                <div class="footer-nav__heading">
                    <h4 class="venus">About ONS</h4>
                </div>
                <ul class="list list--bare footer__list">
                    <li class="footer-nav__item">
                        <a href="https://www.ons.gov.uk/aboutus/whatwedo" target="_blank" class="footer__link">What we do</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="/contact-us" target="_blank" class="footer__link">Contact us</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="https://www.ons.gov.uk/help/accessibility" target="_blank" class="footer__link">Accessibility</a>
                    </li>
                </ul>
            </div>
            <div class="grid__col col-4@m">
                <div class="footer-nav__heading">
                    <h4 class="venus">Statistics</h4>
                </div>
                <ul class="list list--bare footer__list">
                    <li class="footer-nav__item">
                        <a href="https://www.statisticsauthority.gov.uk/about-the-authority/" target="_blank" class="footer__link">UK Statistics Authority</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="https://www.ons.gov.uk/releasecalendar" target="_blank" class="footer__link">Release calendar</a>
                    </li>
                    <li class="footer-nav__item">
                        <a class="footer__link" href="https://www.ons.gov.uk/news" target="_blank">News</a>
                    </li>
                </ul>
                <br>
            </div>
            <div class="dl__data mars"><img src="{{path '/assets/img/UKOpenGovernmentLicence.svg'}}" alt="Open Government Licence logo" class="ogl__img">
                All content is available under the <a class="footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank">Open Government Licence v3.0</a>, except where otherwise stated
            </div>
        </div>
    </div>
  </footer>
</footer>
