<footer class="footer" role="contentinfo">
  <div class="container">
    <div class="grid">
      <div class="grid__col col-12@m">
        <ul class="list list--bare">
{{#each links}}<li>{{#if link_url}}<a href="{{link_url}}" class="footer__link footer__link--inline" target="_blank">{{link_text}}</a>{{else}}<span class="footer__link footer__link--inline">{{link_text}}</span>{{/if}}</li>{{/each}}
        </ul>
      </div>
    </div>
  </div>
</footer>
