.accordion {
  display: block;
}

.accordion__title {
  background: none;
  margin: 0;
  padding: 1em 0;
  border: none;
  border-top: 1px solid $color-borders;
  display: block;
  appearance: none;
  width: 100%;
  text-align: left;
  line-height: 1;
  
  .has-js & {
    cursor: pointer;
    color: $color-links;
    &:hover {
      & > span {
        color: $color-links-hover;
      }
      &::before {
        filter: brightness(0.5);
      }
    }
  }
  &-text {
    float: left;
    margin-top: 0.3rem;
    max-width: 75%;
    line-height: 1.3rem;
  }
  &::before {
    $size: 2rem;
    transition: transform 300ms ease-in-out;
    speak: none;
    content: "";
    background: url("#{$static}/img/icons/icons--accordion.svg") no-repeat center center;
    text-align: left;
    width: $size;
    height: $size;
    position: relative;
    left: -.4rem;
    top: -1px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    .no-js & {
      display: none;
    }
  }

  &:focus {
    outline: 0;
  }

  &.is-expanded {
    &::before {
      transform: rotate(90deg);
    }
  }

  &-right {
    float: right;
    .no-js & {
      display: none!important;
    }
  }

  span:focus {
    outline-offset: 3px;
    outline: 3px solid $color-focus-outline;
  }
}

.accordion__introduction {
  p:last-child {
    margin-bottom: 0;
  }
}

@include bp-suffix(accordion-unhide) {
  display: inline-block;
}

.accordion__controls {
  margin: 1rem 0;    
  .no-js & {
    display: none;
  }
}

.accordion__control {
  color: #222;
  border: none;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
}

.accordion__body {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0;
  .no-js &,
  &.is-expanded {
    margin-bottom: 1rem;
    max-height: 1000em;
    height: auto;
    opacity: 1;
    transition: opacity 300ms ease-out, max-height 300ms ease-out;
  }
}
