<div class="collapsible js-collapsible" data-js-collapsible-event-category="Preview survey">
  {{#if show_all}}
  <div class="collapsible__controls">
    <button class="btn btn--secondary btn--small js-collapsible-toggle-all u-wa--@xs" data-js-collapsible-event-label="Show all" data-close-all-label="Hide all" data-open-all-label="Show all" data-open="false" aria-hidden="true">Show all</button>
  </div>
  {{/if}}
  <div class="js-collapsible-content">
    <h3 class="collapsible__title js-collapsible-title u-cf icon--collapsible" data-js-collapsible-event-label="Total retail turnover">
      <span class="collapsible__title-text">Total retail turnover</span>
      <button class="btn btn--secondary btn--small collapsible__title-right u-d-no--@xs@s js-collapsible-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="collapsible__body mars js-collapsible-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>VAT</li>
          <li>internet sales</li>
          <li>retail sales from outlets in Great Britain to <a href="#">customers abroad</a></li>
        </ul>
      </div>
      <div class="u-mb-s">
        <div class="u-mb-s">Exclude:</div>
        <ul>
          <li>revenue from mobile phone network commission and top-up</li>
          <li>sales from catering facilities used by customers</li>
          <li>lottery sales and commission from lottery sales</li>
          <li>sales of car accessories and motor vehicles</li>
          <li>NHS receipts</li>
          <li>automotive fuel</li>
        </ul>
      </div>
    </div>

    <h3 class="collapsible__title venus js-collapsible-title u-cf icon--collapsible" data-js-collapsible-event-label="Food sales">
      <span class="collapsible__title-text">Food sales</span>
      <button class="btn btn--secondary btn--small collapsible__title-right u-d-no--@xs@s js-collapsible-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="collapsible__body mars js-collapsible-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>all fresh food</li>
          <li>other food for human consumption (except chocolate and sugar confectionery)</li>
          <li>soft drinks</li>
        </ul>
      </div>
      <div class="u-mb-s">
        <div class="u-mb-s">Exclude:</div>
        <ul>
          <li>sales from catering facilities used by customers</li>
        </ul>
      </div>
    </div>

    <h3 class="collapsible__title venus js-collapsible-title u-cf icon--collapsible" data-js-collapsible-event-label="Alcohol, confectionery and tobacco sales">
      <span class="collapsible__title-text">Alcohol, confectionery, soft drinks and tobacco sales</span>
      <button class="btn btn--secondary btn--small collapsible__title-right u-d-no--@xs@s js-collapsible-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="collapsible__body mars js-collapsible-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>chocolate and sugar confectionery</li>
          <li>tobacco and smokers’ requisites</li>
        </ul>
      </div>
    </div>
  </div>
</div>
