<div class="accordion js-accordion">
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Fusce Aenean Magna</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.
      </div>
    </div>
  </div>
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Venenatis Vulputate Dolor</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </div>
    </div>
  </div>
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Tortor Sollicitudin Condimentum Vulputate</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </div>
    </div>
  </div>
</div>
