<div class="accordion js-accordion">
  {{#if show_all}}
  <div class="accordion__controls">
    <button class="btn btn--secondary btn--small accordion__control js-accordion-toggle-all" data-ga="click" data-ga-category="Preview Survey" data-ga-action="Show all" data-close-all-label="Hide all" data-open-all-label="Show all" data-open="false" aria-hidden="true">Show all</button>
  </div>
  {{/if}}
  <div class="js-accordion-content">
    <h3 class="accordion__title js-accordion-title" data-js-accordion-event-label="Total retail turnover">
      <span class="accordion__title-text" tabindex="0">Total retail turnover</span>
      <button class="btn btn--secondary btn--small accordion__title-right accordion-unhide@m js-accordion-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="accordion__body mars js-accordion-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>VAT</li>
          <li>internet sales</li>
          <li>retail sales from outlets in Great Britain to customers abroad</li>
        </ul>
      </div>
      <div class="u-mb-s">
        <div class="u-mb-s">Exclude:</div>
        <ul>
          <li>revenue from mobile phone network commission and top-up</li>
          <li>sales from catering facilities used by customers</li>
          <li>lottery sales and commission from lottery sales</li>
          <li>sales of car accessories and motor vehicles</li>
          <li>NHS receipts</li>
          <li>automotive fuel</li>
        </ul>
      </div>
    </div>

    <h3 class="accordion__title venus js-accordion-title" data-js-accordion-event-label="Food sales">
      <span class="accordion__title-text" tabindex="0">Food sales</span>
      <button class="btn btn--secondary btn--small accordion__title-right accordion-unhide@m js-accordion-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="accordion__body mars js-accordion-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>all fresh food</li>
          <li>other food for human consumption (except chocolate and sugar confectionery)</li>
          <li>soft drinks</li>
        </ul>
      </div>
      <div class="u-mb-s">
        <div class="u-mb-s">Exclude:</div>
        <ul>
          <li>sales from catering facilities used by customers</li>
        </ul>
      </div>
    </div>

    <h3 class="accordion__title venus js-accordion-title" data-js-accordion-event-label="Alcohol, confectionery and tobacco sales">
      <span class="accordion__title-text" tabindex="0">Alcohol, confectionery and tobacco sales</span>
      <button class="btn btn--secondary btn--small accordion__title-right accordion-unhide@m js-accordion-toggle u-wa--@xs" data-close-label="Hide" data-open-label="Show" aria-hidden="true">Show</button>
    </h3>
    <div class="accordion__body mars js-accordion-body">
      <div class="u-mb-s">
        <div class="u-mb-s">Include:</div>
        <ul>
          <li>chocolate and sugar confectionery</li>
          <li>tobacco and smokers’ requisites</li>
        </ul>
      </div>
    </div>
  </div>
</div>
