/* Status */
@mixin status-dot($status-color) {
  background-color: $status-color;
  border: 3px solid $status-color;
}

@mixin status-size($status-size:1rem,$status-mb:-0.15rem){
  width: $status-size;
  height: $status-size;
  margin-bottom: $status-mb;
}

.status {
  font-size: 1rem;
  line-height: 1.4;

  &::before {
    @include status-size;
    content: "";
    border-radius: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.391rem;
  }

  /* Small status indicators for information dense situations */
  &.status--small::before {
    @include status-size(0.555555rem, $status-mb:0.055556rem);
  }
  &.status--success:before {
    @include status-dot(#a8bd3a); /* ONS logo green */
  }
  &.status--warning:before {
    @include status-dot($color-amber);
  }
  &.status--error:before {
    @include status-dot($color-errors);
  }
  &.status--dead:before {
    @include status-dot($color-dark-grey);
  }
  &.status--info:before {
    @include status-dot($color-blue);
  }
}
/* /Status */
