---
notes:
  Alerts are used to highlight important information to the user.
---

<div class="alert alert--neutral">
  <div class="alert__header">
    <div class="venus">Information</div>
  </div>
  <div class="alert__body">
    <div>Here's some important information.</div>
  </div>
</div>

<br>

<div class="alert alert--success">
  <div class="alert__header">
    <div class="venus">Success</div>
  </div>
  <div class="alert__body">
    <div>You have successfully done something awesome. Well done.</div>
  </div>
</div>

<br>

<div class="alert alert--warn">
  <div class="alert__header">
    <div class="venus">Warning</div>
  </div>
  <div class="alert__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>

<br>

<div class="alert alert--error">
  <div class="alert__header">
    <div class="venus">Error</div>
  </div>
  <div class="alert__body">
    <div>This is wrong, fix it before continuing.</div>
  </div>
</div>

<br>

<h3 class="neptune">Simple Alerts</h3>

<div class="alert alert--neutral alert--simple">
  <div class="alert__header venus">Simple alerts</div>
  <div class="alert__body">A variation on the alert, where a simpler approach is appropriate.</div>
</div>

<br>

<h3 class="neptune">Spacious Alerts</h3>

<div class="alert alert--neutral alert--simple alert--spacious">
  <div class="alert__header venus">Spacious alerts</div>
  <div class="alert__body">Sometimes a simple alert might need a bit of breathing room.</div>
</div>
