<div class="alert alert--simple alert--neutral">
  <div class="alert__header">
    <div class="venus">Quam Vulputate</div>
  </div>
  <div class="alert__body">
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
