<div class="alert alert--warn">
  <div class="alert__header">
    <div class="venus">Warning</div>
  </div>
  <div class="alert__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>
