//eq-patternlib.scss
// Vars
$ons-blue: #003C57;
$color-census-purple: #6E2585;
$primary-action: #0F8243;
$color-warning: #f99c21;
$color-warning-bg: #fdf6ec;
$color-highlight: $ons-blue;
$color-highlight-bg: #f5f6ff;
$color-error: #d0121e;
$color-links: #4361aa;
$color-success-bg: #dbfdea;
$color-success: $primary-action;
// Amending width of preview pane in docs
.Header-title {

}
.Header-title:before {
  background-image: url('../img/eq.png');
  background-repeat: no-repeat;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: 0;
  background-size: contain;
  vertical-align: bottom;
  margin-right: 0.5rem;
}
.Prose {
  max-width: 100%;
}
.Prose p {
  max-width: 44em;
}
.Prose tr:nth-child(even) {
  background-color: transparent;
}
.Prose tr {
  border-bottom: 1px solid #eee;
}
.Prose tr:last-of-type {
  border-bottom: none;
}
.Prose img {
  margin: 1rem 0;
  width: 100%;
}
.eq-font-lato {
  font-family: $font-sans;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.eq-font-helvneue {
  font-family: "Helvetica Neue";
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.eq-font-helv {
  font-family: "Helvetica";
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.eq-font-arial {
  font-family: "Arial";
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.eq-font-sans-serif {
  font-family: sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

.eq-docs-img {
  float: right;
  &.float-right {
    float: right;
    margin: 0 0 1rem 1rem;
  }
  &.float-left {
    float: left;
    margin: 0 1rem 1rem 0;
  }
  &.w50pc {
    width: 50%;
  }
}
h3 {
  display: block;
  width: 100%;
  clear: both;
}
.eq-tile-container {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 1rem;
}
.eq-tile {
  width: 150px;
  height: 215px;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  margin-right: 1rem;
  box-sizing: content-box;
  float: left;
  font-size: 0.8rem;
  overflow: hidden;
}
.eq-tile-colour { min-height: 40%; text-align: center;}
.eq-tile-panel-text {
  font-size: 24pt;
  font-weight: 900;
  font-family: "Lato";
  padding-top: 1.3rem;
  display: block;
}
.eq-tile-info {
  padding: 0.4rem;
  background-color: #fff;
  box-sizing: border-box;
}
.eq-tile-info-title { font-size: 0.8rem !important; }
.Prose table.eq-tile-info-table { margin: 1rem 0;}
.eq-tile-info-table td {
  padding: 0.3rem;
  font-size: 0.7rem;
  vertical-align: top;
}
.ons-blue {
  background-color: $ons-blue;
}
.ons-green {
  background-color: #a8bd3a;
}
.warning {
  background-color: $color-warning;
}
.color-text {
  background-color: $color-text;
}
.color-secondary-text {
  background-color: #666;
}
.color-hint-text {
  background-color: #ccc;
}
.color-links {
  background-color: $color-links;
}
.color-links-hover {
  background-color: #033e58;
}
.color-census-purple {
  background-color: $color-census-purple;
}
.color-primary {
  background-color: $primary-action; //ok
}
.color-error {
  background-color: $color-error;
  .eq-tile-panel-text {
    color: #fff;
  }
}
.color-error-bg {
  background-color: #fbecec;
  .eq-tile-panel-text {
    color: $color-text;
  }
}
.color-highlight {
  background-color: $color-highlight;
  .eq-tile-panel-text {
    color: $color-white;
  }
}
.color-highlight-bg {
  background-color: $color-highlight-bg;
  .eq-tile-panel-text {
    color: $color-text;
  }
}
.color-warning {
  background-color: $color-warning;
  .eq-tile-panel-text {
    color: $color-text;
  }
}
.color-warning-bg {
  background-color: $color-warning-bg;
  .eq-tile-panel-text {
    color: $color-text;
  }
}
.color-success {
  background-color: $color-success;
  .eq-tile-panel-text {
    color: $color-white;
  }
}
.color-success-bg {
  background-color: $color-success-bg;
  .eq-tile-panel-text {
    color: $color-text;
  }
}
.color-neutral {
  background-color: #F5F6FF;
}
.color-border {
  background-color: #999;
}
.color-background {
  background-color: #eee;
}
.color-primary-bg {
  background-color: $color-white;
  border-bottom: 1px solid #eee;
}
// eQ Typography samples
.jupiter {
  font-family: $font-sans;
  font-weight: 900; // Lato Black is 900 // Bold is 700 // Regular is 400
  color: $color-text;
  &.vp320,
  &.vp599 {
    font-size: 28pt;
    line-height: 1.2;
  }
  &.vp600 {
    font-size: 36pt;
    line-height: 1.2;
  }
} // Jupiter
.saturn {
  font-family: $font-sans;
  font-weight: 700;
  color: $color-text;
  &.vp320,
  &.vp599 {
    font-size:24pt;
  }
  &.vp600 {
    font-size: 28pt;
  }
} // Saturn
.neptune {
  font-family: $font-sans;
  font-weight: 700;
  color: $color-text;
  &.vp320 {
    font-size: 18pt;
  }
  &.vp599 {
    font-size: 20pt
  }
  &.vp600 {
    font-size: 22pt;
  }
} // Neptune
.venus {
  font-family: $font-sans;
  font-weight: 700;
  color: $color-text;
  &.vp320,
  &.vp599 {
    font-size: 16pt;
  }
  &.vp600 {
    font-size: 18pt;
  }
}
.mars {
  font-family: $font-sans;
  font-weight: 400;
  color: $color-text;
  &.vp320,
  &.vp599 {
    font-size: 16pt;
  }
  &.vp600 {
    font-size: 18pt;
  }
} // Mars
.mercury {
  font-family: $font-sans;
  font-weight: 700;
  color: $color-text;
  &.vp320,&.vp599,&vp.600 {
    font-size: 14pt;
  }
} // Mercury
.pluto {
  font-family: $font-sans;
  font-weight: 400;
  color: $color-text;
  &.vp320,&.vp599,&vp.600 {
    font-size: 14pt;
  }
}
