<div class="bar bar--hero" role="banner">
  <div class="bar__inner container">
    {{>@badge}}
      <h1 class="bar__title jupiter">Other input fields</h1>
      <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
  </div>
</div>
<br>
