/* _metadata */
.metadata {

 dd {
   margin-left: 0; /* As normalize adds a 40px left margin */
 }
 &__value,
 &__term {
   margin: 0 0 0.3rem;
 }

 &__list {
   margin: 0;
 }

}
/* Message variant */
.metadata--message {
  &-from {
    display: inline-block;
    float: left;
    width: 1rem;
    height: 1.3rem;
  }
}

.metadata__value {

  /* date & time variant modifier */
  &--datetime {
    color: $color-very-dark-grey;
  }

}
/* /_metadata */
