

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">

  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Accordion: Default | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>

<div style="padding:1rem; height:100%">
  <div class="accordion js-accordion">
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Fusce Aenean Magna</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper.
      </div>
    </div>
  </div>
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Venenatis Vulputate Dolor</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </div>
    </div>
  </div>
  <div class="accordion__item js-accordion-item">
    <div class="accordion__head js-accordion-trigger">
      <div class="accordion__title">Tortor Sollicitudin Condimentum Vulputate</div>
    </div>
    <div class="accordion__body js-accordion-body">
      <div class="accordion__content">
        Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.
      </div>
    </div>
  </div>
</div>

</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

