

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">

  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Bar: Hero | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>

<div style="padding:1rem; height:100%">
  <div class="bar bar--hero" role="banner">
  <div class="bar__inner container">
    <div class="badge badge--amber">beta</div>
      <h1 class="bar__title jupiter">Other input fields</h1>
      <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
  </div>
</div>
<br>

</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

