

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Bar: Hero | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="bar bar--hero" role="banner">
  <div class="bar__inner container">
    <div class="badge badge--amber u-mr-xs">beta</div>
      <h1 class="bar__title jupiter">Other input fields</h1>
      <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
  </div>
</div>

</div>

</body>
</html>

