

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Bar | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <h3>Default</h3>
<!-- Start: @bar--default -->
<div class="bar" role="banner">
  <div class="bar__inner container">
    <div class="u-mr-xs"><div class="badge badge--amber">beta</div>
</div>
    <h1 class="bar__title venus">Bar title</h1>
  </div>
</div>
<br>
<!-- End: @bar--default -->
<br/>
<h3>Hero</h3>
<!-- Start: @bar--hero -->
<div class="bar bar--hero" role="banner">
  <div class="bar__inner container">
    <div class="badge badge--amber">beta</div>
      <h1 class="bar__title jupiter">Other input fields</h1>
      <h2 class="venus">Notice is given under section 1 of the Statistics of Trade Act 1947</h2>
  </div>
</div>
<br>
<!-- End: @bar--hero -->
<br/>
</div>
</body>
</html>

