

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Button | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>

<div style="padding:1rem; height:100%; max-width: 30em">
  <div class="collator-item">
    <h2 class="collator-title">Primary</h2>
    
<!-- Start: @button--primary -->
<button class="btn btn--primary">Submit</button>
<!-- End: @button--primary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Primary (Large)</h2>
    
<!-- Start: @button--primary-lg -->
<button class="btn btn--primary btn--lg">Start survey</button>
<!-- End: @button--primary-lg -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Secondary - bordered</h2>
    
<!-- Start: @button--secondary -->
<button class="btn btn--secondary btn--border">Add a person</button>
<!-- End: @button--secondary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Tertiary</h2>
    
<!-- Start: @button--tertiary -->
<button class="btn btn--tertiary">Print this page <span class="btn__icon btn__icon--print-link"></span></button>
<!-- End: @button--tertiary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Neutral / Disabled</h2>
    
<!-- Start: @button--neutral -->
<button class="btn btn--neutral">Neutral</button>
<!-- End: @button--neutral -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Link</h2>
    
<!-- Start: @button--link -->
<button class="btn btn--link">Cancel</button>
<!-- End: @button--link -->

  </div>
</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

