

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Button | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>
<div style="padding-top:1rem" >
  <div class="page__container container">
    <div class="grid grid--reverse">
      <div class="grid__col col-4@m">
      </div>
      <div class="grid__col col-7@m pull-1@m">
        <div class="collator-item">
    <h2 class="collator-title">Primary</h2>
    
<!-- Start: @button--primary -->
<button class="btn ">Save and continue</button><!-- End: @button--primary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Primary (small)</h2>
    
<!-- Start: @button--primary_small -->
<button class="btn btn--small">Start</button><!-- End: @button--primary_small -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Secondary</h2>
    
<!-- Start: @button--secondary -->
<button class="btn btn--secondary">Add a person</button><!-- End: @button--secondary -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Secondary (small)</h2>
    
<!-- Start: @button--secondary_small -->
<button class="btn btn--secondary btn--small">Add</button><!-- End: @button--secondary_small -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Group</h2>
    
<!-- Start: @button--group -->
<div class="btn-group">
        <button class="btn btn-group__btn ">Continue</button>
        <button class="btn btn-group__btn btn--secondary">Cancel</button>
</div><!-- End: @button--group -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Ghost</h2>
    
<!-- Start: @button--header -->
<div class="bar u-pl-m u-pt-m">
    <button class="btn btn--ghost">Save and sign out</button>
</div><!-- End: @button--header -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Loader</h2>
    
<!-- Start: @button--loader -->
<button class="btn btn--loader is-loading">Upload</button><!-- End: @button--loader -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Menu toggle</h2>
    
<!-- Start: @button--menu -->
<button class="btn btn--menu js-menu-btn u-d-b" data-close-label="Hide sections" type="button" id="menu-btn" aria-expanded="false" aria-controls="section-nav" aria-label="Toggle section menu" aria-haspopup="true">View sections</button><!-- End: @button--menu -->

  </div>
      </div>
    </div>
  </div>
</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

