

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Button | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <h3>Primary</h3>
<!-- Start: @button--primary -->
<button class="btn">Submit</button>
<!-- End: @button--primary -->
<br/>
<h3>Secondary</h3>
<!-- Start: @button--secondary -->
<button class="btn btn--secondary">Save</button>
<!-- End: @button--secondary -->
<br/>
<h3>Neutral</h3>
<!-- Start: @button--neutral -->
<button class="btn btn--neutral">Complete later</button>
<!-- End: @button--neutral -->
<br/>
<h3>Border</h3>
<!-- Start: @button--border -->
<button class="btn btn--border">Add item</button>
<!-- End: @button--border -->
<br/>
</div>
</body>
</html>

