

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">
  <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Currency | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>
<div style="padding:1rem">
  <h3>Pounds</h3>
<!-- Start: @currency--pounds -->
<div class="input-type input-type--currency">
  <abbr title="Pounds (GBP)"  class="input-type__type" id="answer-type">£</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--pounds -->
<br/>
<h3>Euros</h3>
<!-- Start: @currency--euros -->
<div class="input-type input-type--currency">
  <abbr title="Euros (EUR)"  class="input-type__type" id="answer-type">€</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--euros -->
<br/>
<h3>Dollars Us</h3>
<!-- Start: @currency--dollars-us -->
<div class="input-type input-type--currency">
  <abbr title="US Dollars (USD)"  class="input-type__type" id="answer-type">US$</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--dollars-us -->
<br/>
<h3>Yen Japanese</h3>
<!-- Start: @currency--yen-japanese -->
<div class="input-type input-type--currency">
  <abbr title="Japanese Yen (JPY)"  class="input-type__type" id="answer-type">JP¥</abbr>
  <input class="input input--text input-type__input" name="answer" id="answer" value="" data-qa="input-text">
</div>
<!-- End: @currency--yen-japanese -->
<br/>
</div>
</body>
</html>

