

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Date | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>

<div style="padding:1rem; height:100%; max-width: 30em">
  <div class="collator-item">
    <h2 class="collator-title">Default</h2>
    
<!-- Start: @date--default -->
<div class="answer answer--date">
  <div class="answer__fields js-fields">
    <fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">

      <div class="fieldgroup__fields">
        <div class="field field--input field--day">
          <label class="label mercury"
                 data-qa="label-day">Day</label>
          <input placeholder="DD" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>

        <div class="field field--select field--month">
          <label class="label mercury" for="date-range-from-month" id="label-date-range-from-month"
                 data-qa="label-month">Month</label>
          <select class="input input--select" id="date-range-from-month" name="date-range-from-month">
              <option value=""
                disabled="disabled"
                selected="selected">Select month</option>
              <option value="1"
                
                >January</option>
              <option value="2"
                
                >February</option>
              <option value="3"
                
                >March</option>
              <option value="4"
                
                >April</option>
              <option value="5"
                
                >May</option>
              <option value="6"
                
                >June</option>
              <option value="7"
                
                >July</option>
              <option value="8"
                
                >August</option>
              <option value="9"
                
                >September</option>
              <option value="10"
                
                >October</option>
              <option value="11"
                
                >November</option>
              <option value="12"
                
                >December</option>
          </select>
        </div>

        <div class="field field--input field--year">
          <label class="label mercury"
                 data-qa="label-year">Year</label>
          <input placeholder="YYYY" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>
      </div>
    </fieldset>
  </div>
</div>
<!-- End: @date--default -->

  </div>
<div class="collator-item">
    <h2 class="collator-title">Range</h2>
    
<!-- Start: @date--range -->
<div class="answer answer--date">
  <div class="answer__fields js-fields">
    <fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">
      <legend class="fieldgroup__title venus">Period from</legend>

      <div class="fieldgroup__fields">
        <div class="field field--input field--day">
          <label class="label mercury"
                 data-qa="label-day">Day</label>
          <input placeholder="DD" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>

        <div class="field field--select field--month">
          <label class="label mercury" for="date-range-from-month" id="label-date-range-from-month"
                 data-qa="label-month">Month</label>
          <select class="input input--select" id="date-range-from-month" name="date-range-from-month">
              <option value=""
                disabled="disabled"
                selected="selected">Select month</option>
              <option value="1"
                
                >January</option>
              <option value="2"
                
                >February</option>
              <option value="3"
                
                >March</option>
              <option value="4"
                
                >April</option>
              <option value="5"
                
                >May</option>
              <option value="6"
                
                >June</option>
              <option value="7"
                
                >July</option>
              <option value="8"
                
                >August</option>
              <option value="9"
                
                >September</option>
              <option value="10"
                
                >October</option>
              <option value="11"
                
                >November</option>
              <option value="12"
                
                >December</option>
          </select>
        </div>

        <div class="field field--input field--year">
          <label class="label mercury"
                 data-qa="label-year">Year</label>
          <input placeholder="YYYY" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="answer answer--date">
  <div class="answer__fields js-fields">
    <fieldset class="fieldgroup fieldgroup--date" data-qa="widget-date">
      <legend class="fieldgroup__title venus">Period to</legend>

      <div class="fieldgroup__fields">
        <div class="field field--input field--day">
          <label class="label mercury"
                 data-qa="label-day">Day</label>
          <input placeholder="DD" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>

        <div class="field field--select field--month">
          <label class="label mercury" for="date-range-from-month" id="label-date-range-from-month"
                 data-qa="label-month">Month</label>
          <select class="input input--select" id="date-range-from-month" name="date-range-from-month">
              <option value=""
                disabled="disabled"
                selected="selected">Select month</option>
              <option value="1"
                
                >January</option>
              <option value="2"
                
                >February</option>
              <option value="3"
                
                >March</option>
              <option value="4"
                
                >April</option>
              <option value="5"
                
                >May</option>
              <option value="6"
                
                >June</option>
              <option value="7"
                
                >July</option>
              <option value="8"
                
                >August</option>
              <option value="9"
                
                >September</option>
              <option value="10"
                
                >October</option>
              <option value="11"
                
                >November</option>
              <option value="12"
                
                >December</option>
          </select>
        </div>

        <div class="field field--input field--year">
          <label class="label mercury"
                 data-qa="label-year">Year</label>
          <input placeholder="YYYY" value=""
                 data-qa="input-StringField" class="input input--StringField ">
        </div>
      </div>
    </fieldset>
  </div>
</div>
<!-- End: @date--range -->

  </div>
</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

