

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <link rel="stylesheet" href="../../assets/css/styles.css" />
  <title>Definitions: Default | SDC Pattern Library</title>

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>

<div style="padding:1rem; height:100%; max-width: 30em">
  <div class="page" style="height:100%">
  <div class="page__content" style="height:100%">
    <div class="page__container container">
      <div class="grid grid--reverse">
        <div class="grid__col col-4@m pull-1@m">
          <div class="popup" id="popup"></div>
        </div>
        <div class="grid__col col-7@m pull-1@m">
          <div class="">
            <h1 class="question__title saturn">Do you connect an <a role="button" id="anchor-accumulator" href="#def-accumulator" title="Definition of accumulator" class="definition__anchor saturn" data-title="Definition for an accumulator" data-popup-call="An accumulator is an energy storge device; a device which accepts energy, stores energy and releases energy as needed." data-popup-response="Close definition" >accumulator</a> to your <a role="button" id="anchor-photovoltaic" href="#def-photovoltaic" title="Definition of photovoltaic system" class="definition__anchor saturn" data-title="Definition for a photovoltaic system" data-popup-call="Photovoltaics known as solar panels are usually installed on homes and comercial properties. They produce electricity directly from the energy of the sun. The panels are usually installed on the roof of your property." data-popup-response="Close definition" >photovoltaic system</a> to store surplus energy?</h1>
            <div class="definition">
                <dl class="definition__list">
                    <dt class="definition__title venus">
                      <dfn class="venus" id="def-accumulator">Definition for an accumulator</dfn></strong>
                    </dt>
                    <dd class="definition__description mars" >
                      An accumulator is an energy storge device; a device which accepts energy, stores energy and releases energy as needed.
                      <a href="#anchor-accumulator" class="definition__backtotop">Back to top</a>
                    </dd>
                </dl>
                <dl class="definition__list">
                    <dt class="definition__title venus">
                      <dfn class="venus" id="def-photovoltaic">Definition for a photovoltaic system</dfn></strong>
                    </dt>
                    <dd class="definition__description mars" >
                      Photovoltaics known as solar panels are usually installed on homes and comercial properties. They produce electricity directly from the energy of the sun. The panels are usually installed on the roof of your property.
                      <a href="#anchor-photovoltaic" class="definition__backtotop">Back to top</a>
                    </dd>
                </dl>
            </div>
          </div>
        </div>
        <div class="grid__col col-4@m pull-1@m">
          <div class="popup" id="popup"></div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

