

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <!-- eQ Pattern library styles -->
    <link rel="stylesheet" href="../../assets/css/eq-patternlib-styles.css">
    <title>eQ Colours: Light amber | SDC Pattern Library</title>
</head>
<body>
<div style="padding:2rem">
  <div class="eq-tile">
  <div class="eq-tile-colour color-light-amber" style="background-color:#FDF6EC">
    <span class="eq-tile-panel-text">A</span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Light amber</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#FDF6EC</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>253,246,236</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-light-amber</td>
        </tr>
      </table>
  </div>
</div>

</div>

</body>
</html>

