

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <!-- eQ Pattern library styles -->
    <link rel="stylesheet" href="../../assets/css/eq-patternlib-styles.css">
    <title>eQ Colours: Error | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="eq-tile">
  <div class="eq-tile-colour color-error"><span class="eq-tile-panel-text">A</span></div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Error</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#D0121E</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>208,18,30</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-error</td>
        </tr>
      </table>
  </div>
</div>

</div>

</body>
</html>

