

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <!-- eQ Pattern library styles -->
    <link rel="stylesheet" href="../../assets/css/eq-patternlib-styles.css">
    <title>eQ Colours: Blue | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="eq-tile">
  <div class="eq-tile-colour color-blue" style="background-color:#4263C2">
    <span class="eq-tile-panel-text"></span>
  </div>
  <div class="eq-tile-info">
    <h1 class="eq-tile-info-title">Blue</h1>
    <table class="eq-tile-info-table">
        <tr>
          <td>HTML</td>
          <td>#4263C2</td>
        </tr>
        <tr>
          <td>RGB</td>
          <td>66,99,194</td>
        </tr>
        <tr>
          <td>SCSS</td>
          <td>$color-blue</td>
        </tr>
      </table>
  </div>
</div>

</div>

</body>
</html>

