

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Field: Checkboxes | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>

<div style="padding:1rem; height:100%; max-width: 30em">
    <div class="field field--checkbox field--multiplechoice">
    <fieldset>
          <div class="field__label mars" id="select-all">Select all that apply</div>
        <div class="field__item js-focusable-box">
          <input class="input input--checkbox js-focusable" name="checkbox-answer" value="bacon" id="bacon" type="checkbox" aria-describedby="select-all">
          <label class="label label--inline venus " for="bacon" >Bacon</label>
        </div>
        <div class="field__item js-focusable-box">
          <input class="input input--checkbox js-focusable" name="checkbox-answer" value="olives" id="olives" type="checkbox" aria-describedby="select-all">
          <label class="label label--inline venus " for="olives" >Olives</label>
        </div>
    </fieldset>
  </div>






</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

