

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Grid: Spaced | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="grid grid--spaced">
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>

    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>

    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>

    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>
    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>
    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>

    <div class="grid__col col-6@m">
      <div class="grid__helper">6 col</div>
    </div>
    <div class="grid__col col-6@m">
      <div class="grid__helper">6 col</div>
    </div>
</div>

</div>
</body>
</html>

