

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Grid: Pixelgutter | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>
<div style="padding-top:1rem" >
  <div class="page__container container">
    <div class="grid grid--reverse">
      <div class="grid__col col-4@m">
      </div>
      <div class="grid__col col-7@m pull-1@m">
        <div class="grid grid--pixelgutter">
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>
    <div class="grid__col col-1@m">
      <div class="grid__helper">1 col</div>
    </div>

    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>
    <div class="grid__col col-2@m">
      <div class="grid__helper">2 col</div>
    </div>

    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>
    <div class="grid__col col-3@m">
      <div class="grid__helper">3 col</div>
    </div>

    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>
    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>
    <div class="grid__col col-4@m">
      <div class="grid__helper">4 col</div>
    </div>

    <div class="grid__col col-6@m">
      <div class="grid__helper">6 col</div>
    </div>
    <div class="grid__col col-6@m">
      <div class="grid__helper">6 col</div>
    </div>
</div>

      </div>
    </div>
  </div>
</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

