

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Headers | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <h3>Neutral</h3>
<!-- Start: @headers--neutral -->
<div class="alert alert--neutral">
  <div class="alert__header">
    <div class="venus">Neutral</div>
  </div>
  <div class="alert__body">
    <div>Neutral alert body content goes here.</div>
  </div>
</div>
<!-- End: @headers--neutral -->
<br/>
<h3>Success</h3>
<!-- Start: @headers--success -->
<div class="alert alert--success">
  <div class="alert__header">
    <div class="venus">Success</div>
  </div>
  <div class="alert__body">
    <div>Would be great to call an include here!</div>
  </div>
</div>
<!-- End: @headers--success -->
<br/>
<h3>Warning</h3>
<!-- Start: @headers--warn -->
<div class="alert alert--warn">
  <div class="alert__header">
    <div class="venus">Warning</div>
  </div>
  <div class="alert__body">
    <div>Warning content would appear here.</div>
  </div>
</div>
<!-- End: @headers--warn -->
<br/>
<h3>Error</h3>
<!-- Start: @headers--error -->
<div class="alert alert--error">
  <div class="alert__header">
    <div class="venus">Error</div>
  </div>
  <div class="alert__body">
    <div>Error content would appear here.</div>
  </div>
</div>
<!-- End: @headers--error -->
<br/>
<h3>Simple</h3>
<!-- Start: @headers--simple -->
<div class="alert alert--simple">
  <div class="alert__header">
    <div class="venus">Simple</div>
  </div>
  <div class="alert__body">
    <div>Simple content would appear here.</div>
  </div>
</div>
<!-- End: @headers--simple -->
<br/>
</div>

</body>
</html>

