

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Highlight: Default | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <p class="mars">This is some <span class="highlight">important</span> content.</p>
<h1 class="neptune">What was the value of the business’s total sales of <span class="highlight">food</span>?</h1>
<h1 class="neptune">What was the value of the business’s total sales of <span class="highlight">alcohol, tobacco and confectionary</span>?</h1>
<h2 class="neptune">Of the <span class="highlight">423</span> employees how many were part-time?</h2>

</div>
</body>
</html>

