

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Inline | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <h3>Neutral</h3>
<!-- Start: @inline--neutral -->
<div class="alert alert--simple alert--neutral">
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- End: @inline--neutral -->
<br/>
<h3>Success</h3>
<!-- Start: @inline--success -->
<div class="alert alert--simple alert--success">
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- End: @inline--success -->
<br/>
<h3>Warning</h3>
<!-- Start: @inline--warn -->
<div class="alert alert--simple alert--warn">
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- End: @inline--warn -->
<br/>
<h3>Error</h3>
<!-- Start: @inline--error -->
<div class="alert alert--simple alert--error">
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- End: @inline--error -->
<br/>
<h3>Simple</h3>
<!-- Start: @inline--simple -->
<div class="alert alert--simple alert--simple">
  <div class="alert__body">
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
  </div>
</div>
<!-- End: @inline--simple -->
<br/>
</div>

</body>
</html>

