

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Input: Select | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="field">
  <label class="label">I am a label</label>
  <select class="input input--select" name="select">
  	<option>Option 1</option>
  	<option>Option 2</option>
  	<option>Option 3</option>
  </select>
</div>

</div>

</body>
</html>

