

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Input: Number Percentage | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="input-wrap symbol percent end">
  <label class="label " for="input_id">Enter a percentage</label>
    <input type="text" placeholder="e.g. 23" id="input_id" pattern="[-+]?[0-9]*[.,]?[0-9]+" inputmode="numeric" maxlength="6" class="input numericentry">
    <span class="hint">e.g. 23</span>
  </div>
<div>
    <a href="#" class="help-cta"><i class="fa fa-chevron-right" aria-hidden="true"></i><span class="trigger-label">Show</span> help for this question</a>
    <div class="help-text" style="display: none;">
      <p>Please enter the figure as per the guidance. If zero, enter 0</p>
    </div>
</div>

</div>

</body>
</html>

