

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Label: Label with description | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <label class="label venus" for="label_target">Label with description<br>
  <span class="label__description label__inner pluto">Lorem ipsum sit amet dolor</span>
</label>

</div>

</body>
</html>

