

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>List: Unordered | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <ul class="">
  <li class="list__item">Unordered list</li>
  <li class="list__item">Second item in an unordered list</li>
  <li class="list__item">Consectetur adipiscing elit curabitur a elit vehicula, finibus arcu ut</li>
  <li class="list__item">Lorem ipsum dolor sit amet</li>
</ul>

</div>

</body>
</html>

