

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>List | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <h3>Ordered</h3>
<!-- Start: @list--list--ordered -->
<ol class="list--ordered">
  <li class="list__item">First item in the list.</li>
  <li class="list__item">Second item in the Ordered list</li>
  <li class="list__item">The third lorem ipsum sit amet dolor</li>
  <li class="list__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur a elit vehicula, finibus arcu ut</li>
</ol>
<!-- End: @list--list--ordered -->
<br/>
<h3>Unordered</h3>
<!-- Start: @list--list--unordered -->
<ul class="">
  <li class="list__item">Unordered list</li>
  <li class="list__item">Second item in an unordered list</li>
  <li class="list__item">Consectetur adipiscing elit curabitur a elit vehicula, finibus arcu ut</li>
  <li class="list__item">Lorem ipsum dolor sit amet</li>
</ul>
<!-- End: @list--list--unordered -->
<br/>
<h3>Box</h3>
<!-- Start: @list--list-box -->
<ul class="list--boxes">
  <li class="list__item">D1C5</li>
  <li class="list__item">B0AE</li>
  <li class="list__item">9A04</li>
  <li class="list__item">4E94</li>
</ul>
<!-- End: @list--list-box -->
<br/>
</div>

</body>
</html>

