

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Logo: Default | eQ Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="logo page-header__logo">
  <img src="https://cdn.ons.gov.uk/assets/images/ons-logo.svg" alt="Office for National Statistics" class="logo__img">
</div>

</div>

</body>
</html>

