

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">
  <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Panel | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>
<div style="padding:1rem">
  <h3>Information (default)</h3>
<!-- Start: @panel--default -->
<div class="panel panel--info">
  <div class="panel__header">
    <div class="venus">Information</div>
  </div>
  <div class="panel__body">
    <div>Here's some important information.</div>
  </div>
</div>
<!-- End: @panel--default -->
<br/>
<h3>Success</h3>
<!-- Start: @panel--success -->
<div class="panel panel--success">
  <div class="panel__header">
    <div class="venus">Success</div>
  </div>
  <div class="panel__body">
    <div>You did something correctly.</div>
  </div>
</div>
<!-- End: @panel--success -->
<br/>
<h3>Warning</h3>
<!-- Start: @panel--warn -->
<div class="panel panel--warn">
  <div class="panel__header">
    <div class="venus">Warning</div>
  </div>
  <div class="panel__body">
    <div>You've done something that is a bit bad, you can carry on though.</div>
  </div>
</div>
<!-- End: @panel--warn -->
<br/>
<h3>Error</h3>
<!-- Start: @panel--error -->
<div class="panel panel--error">
  <div class="panel__header">
    <div class="venus">Error</div>
  </div>
  <div class="panel__body">
    <div>This is wrong, fix it before continuing.</div>
  </div>
</div>
<!-- End: @panel--error -->
<br/>
<h3>Inline information (default)</h3>
<!-- Start: @panel--simple-info -->
<div class="panel panel--simple panel--info">
  <div class="panel__body">
    <h2 class="venus">Simple info panel - separate</h2>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
<!-- End: @panel--simple-info -->
<br/>
<h3>Inline success</h3>
<!-- Start: @panel--simple-success -->
<div class="panel panel--simple panel--success">
  <div class="panel__body">
    <h2 class="venus">Simple success panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple-success -->
<br/>
<h3>Inline warning</h3>
<!-- Start: @panel--simple-warn -->
<div class="panel panel--simple panel--warn">
  <div class="panel__body">
    <h2 class="venus">Simple warning panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple-warn -->
<br/>
<h3>Inline error information</h3>
<!-- Start: @panel--simple-error -->
<div class="panel panel--simple panel--error">
  <div class="panel__body">
    <h2 class="venus">Simple error panel</h2>
    <div>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</div>
  </div>
</div>
<!-- End: @panel--simple-error -->
<br/>
<h3>Spacious variant (all simple)</h3>
<!-- Start: @panel--spacious -->
<div class="panel panel--simple panel--info panel--spacious">
  <div class="panel__body">
    <h2 class="venus">Simple info panel - spacious</h2>
    <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
  </div>
</div>
<!-- End: @panel--spacious -->
<br/>
</div>
</body>
</html>

