

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Radio: Default | Leading Design</title>
</head>
<body>
<div style="padding:1rem">
  <label>
	<input type="radio" name="groupName" id="radio1" /> Radio 1
</label>

<label>
	<input type="radio" name="groupName" id="radio2" /> Radio 2
</label>

<label>
	<input type="radio" name="groupName" id="radio3" /> Radio 3
</label>

</div>

</body>
</html>

