

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Select: Select (optional) | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>

<div style="padding:1rem; height:100%; max-width: 30em">
  <div class="field field--select">
  <label class="label venus "
    for="select-opt"
    >
      Select your favourite cartoon character
      <br/>
      <span class="label__description pluto">As the initial option is selected but not disabled this is an optional field (once a selection has been made it is possible to select no option.)</span>
  </label>
  <select class="input input--select" id="select-opt" name="select">
      <option selected>Select an option</option>
      <option value="bart">Bart Simpson</option>
      <option value="homer">Homer Simpson</option>
      <option value="marge">Marge Simpson</option>
      <option value="lisa">Lisa Simpson</option>
      <option value="ned">Ned Flanders</option>
      <option value="bugs">Bugs Bunny</option>
      <option value="7 Dwarves">The 7 Dwarves: Grumpy, Happy, Sleepy, Bashful, Sneezy, Dopey, Doc</option>
      <option value="charlie brown">Charlie Brown</option>
      <option value="snoopy">Snoopy</option>
  </select>
</div>

</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

