

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png" />
  <title>Summary: Validation across multiple pages | SDC Pattern Library</title>

  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
  <link href="../../assets/css/fixed.css" rel="stylesheet">
  <![endif]-->

  <!--[if gt IE 8]><!-->
  <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
  <!--<![endif]-->

  <script>
    window.__EQ_SESSION_TIMEOUT__ = 18;
    window.__EQ_SESSION_TIMEOUT_PROMPT__ = 12;
  </script>

  <style>
    .collator-item {
      margin-bottom: 2rem;
    }
    .collator-title {
      font-size: 1.2rem;
    }
  </style>
</head>
<body>
<div style="padding-top:1rem" >
  <div class="page__container container">
    <div class="grid grid--reverse">
      <div class="grid__col col-4@m">
      </div>
      <div class="grid__col col-7@m pull-1@m">
        <div class="panel panel--error u-mb-s" data-qa="error">
  <div class="panel__header">
    <h1 class="panel__title venus">This page has an error.</h1>
  </div>
  <div class="panel__body" data-qa="error-body">
    <p class="mars">This <strong>must be corrected</strong> to continue.</p>
    <ul class="list list--bare">
      <li class="list__item mars">
        1) <a class="js-inpagelink" href="#sales-of-food">Change one or more of the figures so they total the sum of £600.</a>
      </li>
    </ul>
  </div>
</div>

<div class="summary">
  <h2 class="summary__title neptune" id="">Summary - Section Title</h2>
  <div class="summary__block">
    <div class="summary__item">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
           <div class="summary__question mars">For the period 1 May 2017 to 31 May 2017, what was the total turnover of Essential Enterprise Ltd.?</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer venus">£600.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">Change <span class="u-vh">your answer for: What are the dates of the sales period you are reporting for?. The current value is: 01 January 2015 to 02 February 2017</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--error">
      <p class="summary__error-text venus">Change one or more of the figures so they total the sum of £600.</p>
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__question mars">What was the value of the business's total sales of food?</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer venus">£300.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a id="sales-of-food" href="#edit">
              Change <span class="u-vh">your answer for: What was the value of the business's total sales of food?. The current value is: £300.00</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--error">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
           <div class="summary__question mars">What was the value of the business's total sales of alcohol, confectionery and tobacco?</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer venus">£200.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">
              Change <span class="u-vh">your answer for: What was the value of the business's total sales of alcohol, confectionery and tobacco?. The current value is: £200.00</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="summary__item summary__item--error">
      <div class="grid">
        <div class="grid__col col-12@xs col-6@m">
          <div class="summary__question mars">What was the value of the business's total sales of clothing and footwear?</div>
        </div>
        <div class="grid__col col-8@xs col-4@m">
          <div class="summary__answer venus">£50.00</div>
        </div>
        <div class="grid__col col-4@xs col-2@m">
          <div class="summary__link mars">
            <a href="#edit">
              Change <span class="u-vh">your answer for: What was the value of the business's total sales of clothing and footwear?. The current value is: £50.00</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      </div>
    </div>
  </div>
</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

