

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">
  <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Summary | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>
<div style="padding:1rem">
  <h2 class="neptune">Single summary</h2>
<!-- Start: @summary--default -->
<div class="summary">
      <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<!-- Summary -->
      <div class="summary__block">
        <div class="summary__items">
          <div class="summary__question" id="">
             What are the dates of the sales period you are reporting for?
          </div>
            <div class="summary__answer">
              <div class="summary__answer-text" id="">01 January 2015 to 02 February 2017</div>
              <div class="summary__edit">
                <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
              </div>
            </div>
        </div>
     </div>
<!-- /Summary -->
  </div>
<!-- End: @summary--default -->
<br/>
<h2 class="neptune">Single summary without edit link</h2>
<!-- Start: @summary--no-edit -->
<div class="summary">
      <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
<!-- Summary -->
      <div class="summary__block">
        <div class="summary__items">
          <div class="summary__question" id="">
             Total turnover
          </div>
            <div class="summary__answer">
              <div class="summary__answer-text" id="">£234,000.00</div>
            </div>
        </div>
     </div>
<!-- /Summary -->
  </div>
<!-- End: @summary--no-edit -->
<br/>
<h2 class="neptune">Grouped</h2>
<!-- Start: @summary--group -->
<div class="summary">
  <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
  <!-- Group -->
  <div class="summary__items">
    <div class="summary__question" id="">
      What was the value of the business's total sales of food?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£123.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of alcohol, confectionery and tobacco?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£987.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of clothing and footwear?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of household goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total sales of other goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total retail turnover?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       Of your total retail turnover, how much were from internet sales?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£4,567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
  </div>
  <!-- /Group -->
</div>
<!-- End: @summary--group -->
<br/>
</div>
</body>
</html>

