

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">

  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Summary: Grouped | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>

<div style="padding:1rem; height:100%">
  <div class="summary">
  <h2 class="summary__title saturn" id="">Summary - Section Title</h2>
  <!-- Group -->
  <div class="summary__items">
    <div class="summary__question" id="">
      What was the value of the business's total sales of food?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£123.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of alcohol, confectionery and tobacco?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£987.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of clothing and footwear?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business's total sales of household goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total sales of other goods?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       What was the value of the business’s total retail turnover?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£5,678.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
    <div class="summary__question" id="">
       Of your total retail turnover, how much were from internet sales?
    </div>
    <div class="summary__answer">
      <div class="summary__answer-text" id="">£4,567.00</div>
      <div class="summary__edit">
        <a href="#edit" class="summary__edit-link">Edit <span class="u-vh">your answer</span></a>
      </div>
    </div>
  </div>
  <!-- /Group -->
</div>

</div>
<script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
</body>
</html>

