

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">
  <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Table | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>
<div style="padding:1rem">
  <h2 class="neptune">Basic table</h2>
<!-- Start: @table--default -->
<table class="table">
  <thead class="table--head">
    <th scope="col" class="table--header--cell">Column A</th>
    <th scope="col" class="table--header--cell">Column B</th>
      </thead>
  <tbody>
    <tr class="table--row">
      <td class="table--cell">Cell A1</td>
      <td class="table--cell">Cell B1</td>
          </tr>
    <tr class="table--row">
      <td class="table--cell">Cell A2</td>
      <td class="table--cell">Cell B2</td>
          </tr>
  </tbody>
</table>
<!-- End: @table--default -->
<br/>
<h2 class="neptune">Compact table for data heavy applications.</h2>
<!-- Start: @table--data-dense -->
<table class="table table__dense">
  <caption class="table--caption">Use this table variant for for data heavy applications</caption>
  <thead class="table--head">
    <th scope="col" class="table--header--cell">Column A</th>
    <th scope="col" class="table--header--cell">Column B</th>
    
    <th scope="col" class="table--header--cell">Column C</th>
    <th scope="col" class="table--header--cell">Column D</th>
    <th scope="col" class="table--header--cell">Column E</th>
  </thead>
  <tbody>
    <tr class="table--row">
      <td class="table--cell">Cell A1</td>
      <td class="table--cell">Cell B1</td>
      
      <td class="table--cell">Cell C1</td>
      <td class="table--cell">Cell D1</td>
      <td class="table--cell">Cell E1</td>
    </tr>
    <tr class="table--row">
      <td class="table--cell">Cell A2</td>
      <td class="table--cell">Cell B2</td>
      
      <td class="table--cell">Cell C2</td>
      <td class="table--cell">Cell D2</td>
      <td class="table--cell">Cell E2</td>
    </tr>
  </tbody>
</table>
<!-- End: @table--data-dense -->
<br/>
</div>
</body>
</html>

