

<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en-gb" dir="ltr" class="no-js"> <!--<![endif]-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../../assets/img/eq.png">
  <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
  <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Textarea: Default | SDC Pattern Library</title>

    <!--[if gt IE 8]><!-->
      <script>document.documentElement.className = document.documentElement.className.replace('no-js','has-js')</script>
    <!--<![endif]-->
</head>
<body>
<div style="padding:1rem">
  <div class="answer__fields js-fields">
  <label class="label" for="textarea-answer">Please provide some feedback
      <br/>
      <span class="label__description pluto">For example describe any difficulties you experienced in the use of this service</span>
  </label>
  <textarea class="input input--textarea js-charlimit-input" cols="60" rows="8" id="textarea-answer" name="textarea-answer" maxlength="40" aria-describedby="description-question guidance-answer-trigger textarea-answer-remaining" data-maxlength="40"></textarea>
  <div class="input__limit u-mt-xs mercury" data-qa="textarea-with-limit" id="textarea-answer-remaining" aria-live="polite">You have <span>40</span>.</div>
</div>

</div>
</body>
</html>

