

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="../../assets/img/eq.png">

    <script src="../../assets/scripts/bundle.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../assets/css/styles.css">

    <title>Unit: Centimetres | SDC Pattern Library</title>
</head>
<body>
<div style="padding:1rem">
  <div class="field">
  <label class="label" for="">
  </label>
  <div class="input-type input-type--unit">
    <input data-qa="input-number" id="Centimetres" class="input input--number input-type__input" name="Centimetres" value="" pattern="[0-9]*">
    <abbr title="Centimetres" class="input-type__type" id="Centimetres-type"> cm</abbr>
  </div>
</div>

</div>
</body>
</html>

